body {
	color: rgb(61, 61, 61);
}

/* Navbar colors */
.navbar-inverse, .panel-default > .panel-heading {
    background: #374655 !important;
}
.navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, .panel-default > .panel-heading {
    color: #fff !important;
}
.navbar {
    box-shadow: 0px .2em 8px .01em rgba(0,0,0,0.2);
}
.navbar-brand, .navbar-inverse a {
    color: rgb(236,237,238) !important;
}

/* Button colors */
.btn-primary {
    background: rgb(78, 93, 108);
    transition: background-color 200ms;
	border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus {
    background: #697683;
	border-color: transparent;
	outline: 0;
}
.btn-primary.active, .open>.dropdown-toggle.btn-primary, #collocation_table th {
    background: #374655;
	border-color: transparent;
	color: #fff;
}
.btn-primary[disabled] {
	background-color: #8e979f;
	border-color: transparent;
}

/* Links */
a {
    color: #697683;
	font-weight: 400;
}
a:hover {
    color: rgb(78, 93, 108) !important;
}

/*Metadata criteria in results*/
.biblio-criteria {
    color: #fff;
    background: rgb(217,83,79);
    border: solid 1px rgb(212,63,58);
}

/*Concordance Kwic styling*/
.more_context, .citation-container {
    border-color: #eee !important;
}
.citation-overflow {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 86%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(86%,rgba(255,255,255,0)), color-stop(94%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 86%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 86%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 86%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 86%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 100%); /* W3C */
}
.collocate {
    color:#1E90FF;
}

/*Search form*/
#search_elements {
    border-top-color: #eee;
}
#more_options:hover {
    background-color: #eee;
}
#fixed-search, #nav-buttons.fixed {
    background: rgba(78, 93, 108, .7);
}

/*Text object navigation*/
#toc-container {
    background: rgba(78, 93, 108, .9);
}
a.current-obj, #toc-container a:hover {
    background: rgba(256, 256, 256, .9);
    color: #697683 !important;
}
.bullet-point-div1 {
    background: #fff;
}
.bullet-point-div1, .bullet-point-div2, .bullet-point-div3 {
    border-color: #fff;
}

/*TOC report styling*/
.toc-div1 > a:hover, .toc-div2 > a:hover, .toc-div3 > a:hover {
    text-decoration: none;
    background: #8e979f;
    color: #fff !important;
}
#toc-report .bullet-point-div1 {
    border: solid 1px #000;
    background: #000;
}
#toc-report .bullet-point-div2 {
    border: solid 2px #000;
    background: #fff;
}
#toc-report .bullet-point-div3 {
    border: solid 1px #000;
    background: #fff;
}

/*Time series*/
.graph-bar {
    background-color: rgb(255,219,158); /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, rgb(255,219,158), rgb(255,242,219)); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, rgb(255,219,158), rgb(255,242,219)); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, rgb(255,219,158), rgb(255,242,219)); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, rgb(255,219,158), rgb(255,242,219)); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, rgb(255,219,158), rgb(255,242,219)); /* Standard syntax; must be last */
}

.progress-bar {
	background-color: rgb(78, 93, 108);
}

.full_biblio.show {
	background: rgba(78, 93, 108, .9);
	color: #fff;
}

.ui-menu-item .highlight {
	color: #649DC5;
}