.panel-body {
    padding: 0px;
}
ul {
    margin-bottom: 0px;
}
.panel-heading {
    text-align: center;
}
#landingGroup {
    margin-top: 50px;
    margin-bottom: 10px;
}
#landingGroup ul {
    width: 100%;
}
.col-ranges > .panel {
    border: 0px;
}
.range-selectors {
    line-height: 200%;
    margin-bottom: 0px;
    margin-top: -1px;
    border-top: 1px;
}
.range-selectors td:hover, #dico-landing-alpha td:hover, #dico-landing-volume li:hover {
    cursor: pointer;
    background: #eee;
}
#landing-page-content {
    margin-left: 15px;
    margin-right: 15px;
}
#landing-page-content ul {
    margin-bottom: 20px;
    border: 1px solid #eee;
}
#landing-page-content li {
    padding: 10px 20px;
}
#landing-page-content li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
#landing-page-content h4 {
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    padding-left: 10px;
}
#landing-page-content ul {
    transition: 300ms all ease-out;
}
#landing-page-content ul.ng-enter {
    transform: translateX(-30px);
    opacity: 0;
}
#landing-page-content ul.ng-enter-active {
    transform: translateX(0px);
    opacity: 1;
}
#landing-page-content ul.ng-leave {
    transform: translateX(0px);
    opacity: 1;
}
#landing-page-content ul.ng-leave-active {
    transform: translateX(30px);
    opacity: 0;
}

.landing-page-logo {
	text-align: center;
	margin: 15px 0px 25px 0px;
}
.landing-page-logo img {
	max-width: 100%;
}
@media (max-width: 992px) {
	.landing-page-logo.dictionary {
		margin: 40px 0px 25px 0px;
	}
}
@media (max-width: 768px) {
	.landing-page-logo.dictionary {
		margin: 70px 0px 25px 0px;
	}
}

#simple-landing-page li {
    padding: 10px;
}
.landing-bullet-point {
    border: solid 1px #000;
    background: #000;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

#simple-landing-page .list-group-item {
    min-width: 51%;
    display: inline-block;
}
