    #philologic_response.text-object,
#philologic_response.toc-object {
    margin-top: 0px;
    margin-left: -15px;
}

#page_number {
    text-align: center;
    margin-bottom: 10px;
}

#all-content {
    margin-top: 30px;
    position: relative;
}

#book-page {
    text-align: center;
}

#obj_text {
    vertical-align: middle;
}

#tei-header {
    background-color: rgb(253, 253, 253);
    margin: 10px;
    padding: 10px;
}

#doc-title {
    font-weight: 400;
}

#doc-biblio {
    font-size: 14px;
}

#doc-biblio span:not(:first-of-type) {
    margin-left: 8px;
    padding-left: 8px;
    border-left: double 3px darkgray;
}


/*TOC styling*/

#toc-wrapper {
    position: absolute;
    margin-top: 30px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#toc-wrapper.display {
    pointer-events: auto;
}

#toc-report-title {
    font-size: 1.4em;
    line-height: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#toc-title {
    font-style: italic;
    font-weight: 700;
}

#toc-title:hover {
    text-decoration: none;
}

#tei-header {
    display: none;
    white-space: pre;
    font-family: monospace;
    ;
    font-size: 80%;
    overflow-x: scroll;
    padding: 10px;
}

#object-title {
    font-size: 140%;
    line-height: 120%;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
    #toc-report-title,
    #object-title {
        margin-top: 30px;
    }
}

#object-title .citation-small-caps {
    font-variant: small-caps;
}

#toc-container {
    display: none;
}

#toc-container.display {
    display: inline-block;
}

#toc-container a {
    color: #fff;
}

#toc-content {
    display: inline-block;
    position: relative;
    overflow: scroll;
    padding: 10px;
    line-height: 150%;
    text-align: justify;
    width: 100%;
}

#nav-buttons {
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
    z-index: 80;
    transition: background 200ms;
}

#nav-buttons.ui-scrollfix {
    position: fixed;
    top: 0px;
}

#nav-buttons>div {
    text-align: center;
}

#back-to-top {
    display: none;
    position: absolute;
    left: 15px;
    z-index: 5;
    opacity: 0;
    transition: opacity 200ms;
}

#report-error {
    display: none;
    position: absolute;
    right: 15px;
    z-index: 5;
    opacity: 0;
    transition: opacity 200ms;
}

#nav-buttons.ui-scrollfix #back-to-top,
#nav-buttons.ui-scrollfix #report-error {
    display: inline;
    opacity: 1;
}

@media (max-width: 768px) {
    #nav-buttons {
        margin-left: 0px;
    }
    #back-to-top {
        left: 0;
    }
}

.toc-div1>a,
.toc-div2>a,
.toc-div3>a {
    padding: 5px 5px 5px 0px;
}

.bullet-point-div1,
.bullet-point-div2,
.bullet-point-div3 {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.bullet-point-div1 {
    border: solid 1px;
}

.bullet-point-div2 {
    border: solid 2px;
}

.bullet-point-div3 {
    border: solid 1px;
}

.toc-div1,
.toc-div2,
.toc-div3 {
    text-indent: -.9em;
    /*Account for the bullet point*/
    margin-bottom: 5px;
}

.toc-div1 {
    padding-left: .9em;
}

.toc-div2 {
    padding-left: 1.9em;
}

.toc-div3 {
    padding-left: 2.9em;
}

.toc-div1:hover,
.toc-div2:hover,
.toc-div3:hover {
    cursor: pointer;
}

.toc-more {
    text-align: center;
    opacity: .9;
}

.toc-more.before {
    margin-top: -10px;
    margin-bottom: 10px;
}

.toc-more.after {
    margin-top: 10px;
}

.toc-more>button {
    width: 100%;
    padding: 2px;
    line-height: normal;
    font-size: initial;
}

#text-obj-content {
    display: inline-block;
    text-align: justify;
    padding: 20px;
    line-height: 140% !important;
}

@media (max-width: 992px) {
    #toc-wrapper {
        z-index: 60;
    }
}


/* Styling for theater */

.xml-castitem::after {
    content: "\A";
    white-space: pre;
}

.xml-castlist>.xml-castitem:first-of-type::before {
    content: "\A";
    white-space: pre;
}

.xml-castgroup::before {
    content: "\A";
    white-space: pre;
}

b.headword {
    font-weight: 700 !important;
    font-size: 130%;
    display: block;
    margin-top: 20px;
}

#bibliographic-results b.headword {
    font-weight: 400 !important;
    font-size: 100%;
    display: inline;
    margin-top: 0;
}

.xml-lb {
    display: block;
}

.xml-sp .xml-lb:first-of-type {
    content: "";
    white-space: normal;
}

.xml-lb[type="hyphenInWord"] {
    display: inline;
}

#book-page .xml-sp {
    display: block;
}

.xml-sp::before {
    content: "\A";
    white-space: pre;
}

.xml-stage+.xml-sp:nth-of-type(n+2)::before {
    content: "";
}

.xml-fw,
.xml-join {
    display: none;
}

.xml-speaker+.xml-stage::before {
    content: "";
    white-space: normal;
}

.xml-stage {
    font-style: italic;
}

.xml-stage::after {
    content: "\A";
    white-space: pre;
}

div1 div2::before {
    content: "\A";
    white-space: pre;
}

.xml-speaker {
    font-weight: 700;
}

.xml-pb {
    display: block;
    text-align: center;
    margin: 10px;
}

.xml-pb::before {
    content: "-" attr(n) "-";
    white-space: pre;
}

.xml-lg {
    display: block;
}

.xml-lg::after {
    content: "\A";
    white-space: pre;
}

.xml-lg:first-of-type::before {
    content: "\A";
    white-space: pre;
}

.xml-castList, .xml-front, .xml-castItem, .xml-docTitle, .xml-docImprint, .xml-performance, .xml-docAuthor, .xml-docDate,
.xml-premiere, .xml-casting, .xml-recette, .xml-nombre {
    display: block;
}

.xml-docTitle {
    font-style: italic;
    font-weight: bold;
}

.xml-docTitle, .xml-docAuthor, .xml-docDate {
    text-align: center;
}

.xml-docTitle span[type=main] {
    font-size: 150%;
    display: block;
}

.xml-docTitle span[type=sub] {
    font-size: 120%;
    display: block;
}

.xml-performance, .xml-docImprint {
    margin-top: 10px;
}

.xml-set {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

/*Dictionary formatting*/

body {
    counter-reset: section;
    /* Set the section counter to 0 */
}

.xml-prononciation::before {
    content: "(";
}

.xml-prononciation::after {
    content: ")\A";
}

.xml-nature {
    font-style: italic;
}

.xml-indent,
.xml-variante {
    display: block;
}

.xml-variante {
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: -1.3em;
    padding-left: 1.3em;
}

.xml-variante::before {
    counter-increment: section;
    content: counter(section) ")\00a0";
    font-weight: 700;
}

:not(.xml-rubrique)+.xml-indent {
    padding-top: 10px;
}

.xml-indent {
    padding-left: 1.3em;
}

.xml-cit {
    padding-left: 2.3em;
    display: block;
    text-indent: -1.3em;
}

.xml-indent>.xml-cit {
    padding-left: 1em;
}

.xml-cit::before {
    content: '\2012\00a0\00ab\00a0';
}

.xml-cit::after {
    content: '\00a0\00bb\00a0(' attr(aut) '\00a0' attr(ref) ')';
    font-variant: small-caps;
}

.xml-rubrique {
    display: block;
    margin-top: 20px;
}

.xml-rubrique::before {
    content: attr(nom);
    font-variant: small-caps;
    font-weight: 700;
}

.xml-corps+.xml-rubrique {
    margin-top: 10px;
}


/*Methodique styling*/

div[type="article"] .headword {
    display: inline-block;
    margin-bottom: 10px;
}

.headword+p {
    display: inline;
}

.headword+p+p {
    margin-top: 10px;
}


/*Note handling*/

.popover {
    max-width: 350px;
    overflow: scroll;
}

.popover-content {
    text-align: justify;
}

.popover-content .xml-p:not(:first-of-type) {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.note-content {
    display: none;
}

.note,
.note-ref {
    vertical-align: .3em;
    font-size: .7em;
}

.note:hover,
.note-ref:hover {
    cursor: pointer;
    text-decoration: none;
}

div[type="notes"] .xml-note {
    margin: 15px 0px;
    display: block;
}

.xml-note::before {
    content: 'note\00a0' attr(n) '\00a0:\00a0';
    font-weight: 700;
}


/*Page images*/

.xml-pb-image {
    display: block;
    text-align: center;
    margin: 10px;
}

.page-image-link {
    margin-top: 10px;
    /*display: block;*/
    text-align: center;
}

#full-size-image {
    padding: 15px;
    right: 50px;
    left: auto;
    margin: -15px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    color: #fff;
    opacity: .8;
}

#blueimp-gallery a:hover {
    color: #fff !important;
    opacity: 1;
}

.blueimp-gallery .glyphicon {
    font-size: 60%;
}

#blueimp-gallery ol {
    display: none;
}


/*Inline images*/

.inline-img {
    max-width: 40%;
    float: right;
    height: auto;
    padding-left: 15px;
    padding-top: 15px;
}

.inline-img:hover {
    cursor: pointer;
}

.link-back {
    margin-left: 10px;
    line-height: initial;
}

.xml-add {
    color: #EF4500;
}

.xml-seg {
    display: block;
}


/*Table display*/

b.headword[rend=center] {
    margin-bottom: 30px;
    text-align: center;
}

.xml-table {
    display: table;
    position: relative;
    text-align: center;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.xml-table .xml-pb-image {
    position: absolute;
    width: 100%;
    margin-top: 15px;
}

.xml-row {
    display: table-row;
    font-weight: 700;
    text-align: left;
    min-height: 50px;
    font-variant: small-caps;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: #ddd 1px solid;
}

.xml-row~.xml-row {
    font-weight: inherit;
    text-align: justify;
    font-variant: inherit;
}

.xml-pb-image+.xml-row {
    padding-top: 50px;
    padding-bottom: 10px;
    border-top-width: 0px;
}

.xml-cell {
    display: table-cell;
    padding-top: inherit;  /*inherit padding when image is above */
    padding-bottom: inherit;
}
