#time-series-container #philologic_response {
    margin-top: 15px;
}
#time-series {
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
}
