<div id="collocation-container" class="container-fluid" ng-controller="collocationCtrl">    
    <div id="philologic_response" class="panel panel-default">
        <div id="initial_report">
            <div id="description">
                <button type="button" id="export-results" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#export-dialog">
                    Export results
                </button>
                <div id="search_arguments">
                    Displaying the top 100 collocates for {{ resultsLength || '...' }} occurrences of <b>{{ ::collocationParams.q }}</b><br>
                    <biblio-criteria></biblio-criteria>
                </div>
            </div>
            <progress-bar progress="{{ percent }}" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{ duration: 400 }" ng-if="done === false"></progress-bar>
            <div style="padding-left: 15px;">
                <span ng-if="collocationParams.collocFilterChoice === 'stopwords'">
                    <a id="filter-list-trigger" ng-click="toggleFilterList()">Common function words</a> are being filtered from this report.
                </span>
                <span ng-if="collocationParams.collocFilterChoice === 'frequency'"">
                    <a id="filter-list-trigger" ng-click="toggleFilterList()">The {{ ::collocationParams.filterFrequency }} most common words</a> are being filtered from this report.
                </span>
                <div class="panel panel-default" id="filter-list" ng-if="filterList">
                    <button type="button" class="close" ng-click="toggleFilterList()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <ol>
                        <li ng-repeat="word in filterList">{{ ::word }}</li>
                    </ol>
                </div>
            </div>
            <div class="bg-danger" style="margin-top: 20px; width: 50%;" ng-if="config.debug">
                {{ ::error }}
            </div>
        </div>
        <div class="results_container">
            <div id='philologic_collocation' class="row">
                <div class="col-xs-12 col-sm-3 col-sm-push-9 col-md-4 col-md-push-8">
                    <collocation-cloud></collocation-cloud>
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-pull-3 col-md-8 col-md-pull-4">
                    <div class="table-reponsive">
                        <table class="table table-bordered" id="collocation_table">
                            <tr>
                             <th>within {{ ::collocationParams.wordNum }} words on either side</th>
                             <th>within {{ ::collocationParams.wordNum  }} words to left</th>
                             <th>within {{ ::collocationParams.wordNum  }} words to right</th>
                            </tr>
                            <tr>
                                <td id="all-collocate-column">
                                    <span id="all-num-{{ ::$index}}" class="colloc-row" ng-repeat="result in sortedLists.all">
                                        <span id="all-word-{{ ::$index }}" class="colloc_link" ng-click="something(result.url)">
                                            {{ ::result.label }}
                                        </span>
                                        <span id="all-count-{{ ::$index }}">
                                            &nbsp;({{ ::result.count }})
                                        </span>
                                    </span>
                                </td>
                                <td id="left-collocate-column">
                                    <span id="left-num-{{ ::$index}}" class="colloc-row" ng-repeat="result in sortedLists.left">
                                        <span id="left-word-{{ ::$index }}" class="colloc_link" ng-click="something(result.url)">
                                            {{ ::result.label }}
                                        </span>
                                        <span id="left-count-{{ ::$index }}">
                                            &nbsp;({{ ::result.count }})
                                        </span>
                                    </span>
                                </td>
                                <td id="right-collocate-column">
                                    <span id="right-num-{{ ::$index}}" class="colloc-row" ng-repeat="result in sortedLists.right">
                                        <span id="right-word-{{ ::$index }}" class="colloc_link" ng-click="something(result.url)">
                                            {{ ::result.label }}
                                        </span>
                                        <span id="right-count-{{ ::$index }}">
                                            &nbsp;({{ ::result.count }})
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
