<div class="panel panel-default">
    <div id="initial_report">
        <div id="description" ng-if="typeof(results) != 'undefined'" class="velocity-opposites-transition-fadeIn">
            <button type="button" id="export-results" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#export-dialog">
                    Export results
            </button>
            <div id="search_arguments">
                Searching database for <b>{{ queryParams.q }}</b><br>
                Bibliographic criteria:
                <span class="biblio-criteria" ng-repeat="metadata in biblio" style="margin: 1px">
                    {{ metadata.key.charAt(0).toUpperCase() + metadata.key.slice(1) }} : <b>{{ metadata.value }}</b>
                    <span class="glyphicon glyphicon-remove-circle" ng-click="removeMetadata(metadata.key, queryParams)"></span>
                </span>
                <b ng-if="biblio.length === 0">None</b>
            </div>
            <div id="search-hits" ng-if="results.description">
                <span ng-if="results.results_length !== 0">
                    <span ng-if="results.description.end < results.description.results_per_page || results.description.end < results.results_length" id="test1">
                        Hits {{ results.description.start }} - {{ results.description.end }} of {{ results.results_length || results.description.results_per_page }}
                    </span>
                    <span ng-if="results.description.end >= results.results_length" id="test2">
                        Hits {{ results.description.start }} - {{ results.results_length || results.description.end }} of {{ results.results_length || results.description.results_per_page }}
                    </span>
                </span>
                <span ng-if="results.results_length === 0">
                    No results for your query.
                </span>
            </div>
        </div>
        <div class="row hidden-xs" id="act-on-report">
            <div class="col-sm-7 col-lg-6">
                <div id="report_switch" class="btn-group" ng-controller="concordanceKwicSwitcher">
                    <span ng-if="report === 'concordance'">
                        <button type="button" class="btn btn-primary active" id="concordance-switch" ng-click="switchTo('concordance')">
                            <span class="hidden-xs hidden-sm">View occurrences with context</span>
                            <span class="visible-xs visible-sm">Concordance</span>
                        </button>
                        <button type="button" class="btn btn-primary" id="kwic-switch" ng-click="switchTo('kwic')">
                            <span class="hidden-xs hidden-sm">View occurrences line by line (KWIC)</span>
                            <span class="visible-xs visible-sm">Keyword in context</span>
                        </button>
                    </span>
                    <span ng-if="report === 'kwic'">
                        <button type="button" class="btn btn-primary" id="concordance-switch" ng-click="switchTo('concordance')">
                            <span class="hidden-xs hidden-sm">View occurrences with context</span>
                            <span class="visible-xs visible-sm">Concordance</span>
                        </button>
                        <button type="button" class="btn btn-primary active" id="kwic-switch" ng-click="switchTo('kwic')">
                            <span class="hidden-xs hidden-sm">View occurrences line by line (KWIC)</span>
                            <span class="visible-xs visible-sm">Keyword in context</span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-5 col-lg-4 col-lg-offset-2" id="right-act-on-report" ng-if="philoConfig.facets.length > 1" ng-include="'templates/sidebarMenu.html'" ng-controller="facets"></div>
        </div>
    </div>
    <div class="row">
        <div id="results_container" class="col-xs-12 {{ resultsContainerWidth }}" ng-if="report === 'concordance'" ng-include="'templates/concordance.html'"></div>
        <div id="results_container" class="col-xs-12 {{ resultsContainerWidth }}" ng-if="report === 'kwic'" ng-include="'templates/kwic.html'"></div>
        <div class="{{ sidebarWidth }} hidden-xs" id="sidebar" ng-if="frequencyResults.length > 0" ng-include="'templates/frequencySidebar.html'"></div>
    </div>
</div>
<div class="more" ng-controller="paging" ng-if="results.results.length > 0">
    <div id='page_links' class="btn-group">
        <a id="current_results_page" class="btn btn-default btn-lg {{ page.active }}" ng-repeat="page in pages" ng-click="goToPage(page.start, page.end)">{{ page.display }}</a>
    </div>
    <div style='clear:both;'></div>
</div>