<div id="sidebar_display" class="panel panel-default">
    <div id="frequency_container">
        <progress-bar progress="{{ percent }}" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{duration:400}" ng-if="percentComplete < 100"></progress-bar>
        <ol id="frequency_table" class="velocity-opposites-transition-fadeIn" data-velocity-opts="{duration:400}" ng-if="frequencyResults.length > 0">
            <li ng-repeat="result in frequencyResults" ng-click="facetClick(result)">
                <a id="freq_sidebar_text"> {{ ::result.label }}</a>
                <span class="sidebar-count"> {{ ::result.count }}</span>
            </li>
        </ol>
    </div>
</div>
