<div id="default-landing-page" ng-if="!dictionary">
    <div class="row" id="landingGroup" ng-controller="defaultCtrl">
        <div class="{{ authorOffset }} col-xs-12 col-sm-6" id="col-author" ng-if="authorRanges">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Author
                </div>
                <div class="panel-body">
                    <table id="author-range-selectors" class="table table-bordered" data-type="author">
                        <tr>
                            <td ng-repeat="range in authorRanges" ng-click="getContent('author', '{{ range }}')">{{ range }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="{{ titleOffset }} col-xs-12 col-sm-6" id="col-title" ng-if="titleRanges">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Title
                </div>
                <div class="panel-body">
                    <table id="title-range-selectors" class="table table-bordered"" data-type="title">
                        <tr>
                            <td ng-repeat="range in titleRanges" ng-click="getContent('title', '{{ range }}')">{{ range }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="col-year" ng-if="dateRanges">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Date
                </div>
                <div class="panel-body">
                    <table id="year-range-selectors" class="table table-bordered" data-type="year">
                        <tr ng-repeat="ranges in dateRanges">
                            <td ng-repeat="range in ranges" data-range="{{ range.start }}-{{ range.end }}">{{ range.start }}-{{ range.end }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="landing-page-content"></div>
</div>
<div id="dictionary-landing-page" ng-if="dictionary" ng-controller="dicoCtrl">
    <div class="row">
        <div id="dico-landing-volume" class="col-xs-6 panel panel-default" style="border-width: 0px; box-shadow: 0 0 0;">
            <div class="panel-heading" style="margin-left: -15px; margin-right: -15px">
                Browse by volume
            </div>
            <div class="panel-body" >
                <ul class="list-group" style="margin-left: -15px; margin-right: -15px" ng-if="volumeData != []">
                    <li class="list-group-item velocity-transition-fadeIn" ng-repeat="volume in volumeData" data-velocity-opts="{ stagger: 10 }">
                        <a href="dispatcher.py/{{ volume.philo_id }}">{{ volume.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="dico-landing-alpha" class="col-xs-6 panel panel-default" style="border-width: 0px; box-shadow: 0 0 0;">
            <div class="panel-heading">
                Browse by letter
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr ng-repeat="row in dicoLetterRows">
                        <td ng-repeat="letter in row" ng-click="goToBibliographyReport(letter)">{{ letter }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>