<div class="btn-group pull-right" ng-controller="facets">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span id="menu-header">Display frequency by</span>
        <span id="selected-sidebar-option"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" id="frequency_field">
        <li role="presentation" class="dropdown-header">Display frequency by</li>
		<li ng-repeat="facet in facets" ng-click="selectFacet(facet.facet)">
			<a class="sidebar-option">{{ facet.alias }}</a>
		</li>
		<li class="divider" ng-if="report !== 'bibliography'"></li>
        <li role="presentation" class="dropdown-header" ng-if="report !== 'bibliography'">Display collocates on</li>
		<li ng-if="report !== 'bibliography'">
			<a class="sidebar-option">Both sides</a>
		</li>
        <li ng-if="report !== 'bibliography'">
			<a class="sidebar-option">On the left side</a>
		</li>
        <li>
			<a class="sidebar-option" ng-if="report !== 'bibliography'">On the right side</a>
		</li>
		<li class="divider" ng-if="report !== 'bibliography' && wordsFacets.length > 0"></li>
		<li role="presentation" class="dropdown-header" ng-if="report !== 'bibliography' && wordsFacets.length > 0">Count results by</li>
		<li ng-repeat="facet in wordsFacets" ng-if="report !== 'bibliography' && wordsFacets.length > 0" ng-click="selectFacet(facet.facet)">
			<a class="sidebar-option">{{ facet.alias }}</a>
		</li>
    </ul>
    <button type="button" id="hide-sidebar-button" class="btn btn-primary" style="display: none";>
        <span class="glyphicon glyphicon-remove-circle" style="vertical-align: text-top"></span>
    </button>
</div>
