<div id='philologic_response' class="container-fluid toc-object" ng-controller="tableOfContents">
    <div class="row" id="toc-report-title">
        <div class="col-xs-offset-2 col-xs-8">
            <div>
                <a id="toc-title" class="citation-small-caps">{{ ::tocObject.citation.title.label }}</a>
                <span ng-if="tocObject.citation.author">, {{ ::tocObject.citation.author.label }}</span>
            </div>
            <span ng-if="tocObject.citation.more">{{ ::tocObject.citation.more }}</span>
        </div>
    </div>
    <div class="panel panel-default">
        <button id="show-header" class="btn btn-primary" ng-if="philoConfig.debug" ng-click="showHeader()">Show Header</button>
        <div id="tei-header" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{duration: 200}" ng-if="teiHeader" ng-bind-html="teiHeader | unsafe"></div>
        <div id="toc-report">
            <div id="toc-content">
                <div ng-repeat="element in tocObject.toc">
                    <div class="toc-{{ ::element.philo_type }}">
                        <a href="{{ ::element.href }}">
                            <span class="bullet-point-{{ ::element.philo_type }}"></span>
                            {{ :: element.label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>