<div id='philologic_response' class="container-fluid toc-object" ng-controller="tableOfContents">
    <div class="row" id="toc-report-title">
        <div class="col-xs-offset-2 col-xs-8">
            <span class='philologic_cite'>{{ ::tocObject.citation.title.label }}</span>
            <span ng-if="tocObject.citation.author">, {{ textObject.citation.author.label }}</span>
            <span ng-if="tocObject.citation.more">{{ textObject.citation.more }}</span>
        </div>
    </div>
    <div class="panel panel-default">
        <button id="show-header" class="btn btn-primary" ng-if="philoConfig.debug">Show Header</button>
        <div id="tei-header" style="white-space: pre; font-family: 'Droid Sans Mono', sans-serif; font-size: 80%; display: none;"></div>
        <div id="toc-report">
            <div id="toc-content">
                <div ng-repeat="element in tocObject.toc">
                    <div class="toc-{{ ::element.philo_type }}">
                        <a href="{{ ::element.href }}">
                            <span class="bullet-point-{{ ::element.philo_type }}"></span>
                            {{ :: element.label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>