<div class="container-fluid text-object"  id="philologic_response" ng-controller="textObjectNavigation">
    <div id="object-title">
        <span class='philologic_cite'>
            <a href="{{ textObject.citation.title.href }}" class="citation-small-caps"><i>{{ textObject.citation.title.label }}</i></a>
            <span ng-if="textObject.citation.author">, {{ textObject.citation.author.label }}</span>
            <span ng-if="textObject.citation.more">{{ textObject.citation.more }}</span>
        </span>
    </div>
    <div class="row" id="nav-buttons">
        <button type="button" class="btn btn-primary btn-sm" id="back-to-top">
            Back to top
        </button>
        <div class="col-xs-12" style="text-align: center;">
            <div class="btn-group-sm" role="group">
                <button type="button" class="btn btn-primary" id="prev-obj" ng-click="goToTextObject(textObject.prev)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-primary" id="show-toc" disabled="disabled" ng-click="toggleTableOfContents()">Table of contents</button>
                <button type="button" class="btn btn-primary" id="next-obj" ng-click="goToTextObject(textObject.next)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="spinner" ng-if="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="row" id="all-content">
        <div id="toc-wrapper" class="col-xs-4">
            <div class="panel panel-default toc-slide" id="toc-container" ng-show="tocOpen">
                <div id="toc-titlebar">
                    <button type="button" class="btn btn-primary btn-xs pull-right" id="hide-toc" ng-click="toggleTableOfContents()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div id="toc-content">
                    <div ng-repeat="element in tocObject.toc">
                        <div id="{{ element.philo_id.split(' ').join('-') }}" class="toc-div1" ng-if="element.philo_type === 'div1'" ng-click="goToTextObject(element.philo_id)">
                            <span class="bullet-point-div1"></span>
                            <a href="">{{ element.display_name }}</a>
                        </div>
                        <div id="{{ element.philo_id.split(' ').join('-') }}" class="toc-div2" ng-if="element.philo_type === 'div2'" ng-click="goToTextObject(element.philo_id)">
                            <span class="bullet-point-div2"></span>
                            <a href="" >{{ element.display_name }}</a>
                        </div>
                        <div id="{{ element.philo_id.split(' ').join('-') }}" class="toc-div3" ng-if="element.philo_type === 'div3'" ng-click="goToTextObject(element.philo_id)">
                            <span class="bullet-point-div3"></span>
                            <a href="">{{ element.display_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" id="center-content" ng-show="textObject">
            <div class="row">
                <div class="col-xs-12">
                    <div id="book-page">
                        <div id="text-obj-content" class="panel panel-default" ng-bind-html="textObject.text | unsafe"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-full-screen="true" data-continuous="false" style="display: none">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">&lt;</a>
    <a class="next">&gt;</a>
    <a class="close">&#10005;</a>
    <ol class="indicator"></ol>
</div>