<div id="results_container" class="col-xs-12 col-sm-8" ng-class="{'col-sm-8': concKwic.showFacetedBrowsing}">
    <ol id="bibliographic-results" class="text-content-area">
        <li class="biblio-occurrence panel panel-default" ng-repeat="result in ::results.results">
			<input type="checkbox" style="margin-left:10px" ng-click="addToSearch(result.citation.title.label)" ng-if="results.result_type === 'doc' && philoConfig.metadata.indexOf('title') !== -1">
            <span style="padding-left: 5px;" ng-init="position = $index + results.description.start">{{ ::position }}.</span>
            <span class="philologic_cite">
                <span class="citation" ng-repeat="citation in result.citation">
                    <a ng-href="{{ ::citation.href }}" ng-class="{'citation-separator': citation.separator}" ng-style="citation.style" ng-if="citation.href">{{ ::citation.label }}</a>
                    <span ng-if="!citation.href" ng-class="{'citation-separator': citation.separator}" ng-style="citation.style">{{ ::citation.label }}</span>
                </span>
            </span>
        </li>
    </ol>
</div>
