<div id="results_container" ng-class="{'col-xs-12': concKwic.frequencyResults.length === 0, 'col-xs-8': concKwic.frequencyResults.length > 0}">
    <ol class="bibliographic-results text-content-area">
        <li class="biblio-occurrence panel panel-default velocity-opposites-transition-slideLeftIn" data-velocity-opts="{duration:400, stagger:20}" ng-repeat="result in ::concKwic.results.results">
            <input type="checkbox" style="margin-left:10px" ng-click="addToSearch(result.citation.title.label)" ng-if="concKwic.results.result_type === 'doc' && philoConfig.metadata.indexOf('title') !== -1">
            <span style="padding-left: 5px;" ng-init="position = $index + concKwic.results.description.start">{{ ::position }}.</span>
            <span class="philologic_cite">
                <a class="philologic-doc" href="{{result.citation.title.href}}" class="citation-small-caps"><i>{{ ::result.citation.title.label }}</i></a>
                <span ng-if="result.citation.author | isEmpty" class="citation-small-caps">, {{ ::result.citation.author.label }}</span>
                <span ng-if="result.citation.date | isEmpty"><b>[{{ ::result.citation.date.label }}]</b></span>
                <a href="{{result.citation.div1.href}}" ng-if="result.citation.div1 | isEmpty">{{ ::result.citation.div1.label }}</a>
		<a href="{{result.citation.div2.href}}" ng-if="result.citation.div2 | isEmpty">{{ ::result.citation.div2.label }}</a>
                <a href="{{result.citation.div3.href}}" ng-if="result.citation.div3 | isEmpty">{{ ::result.citation.div3.label }}</a>
                <a href="{{result.citation.para.href}}" ng-if="result.citation.para | isEmpty">{{ ::result.citation.para.label }}</a>
                <span ng-if="result.citation.page | isEmpty">{{ ::result.citation.page.label }}</span>
                <span ng-if="result.citation.more | isEmpty">{{ ::result.citation.more }}</span>
            </span>
        </li>
    </ol>
</div>
