<div id="concordanceKwic-container" ng-controller="concordanceKwicCtrl as concKwic">
    <div id="philo-view" ng-if="concKwic.authorized">
        <div class="panel panel-default">
            <div id="initial_report">
                <div id="description" ng-if="typeof(concKwic.results) != 'undefined'" class="velocity-opposites-transition-fadeIn">
                    <button type="button" id="export-results" class="btn btn-default btn-xs pull-right hidden-xs" data-toggle="modal" data-target="#export-dialog">
                            Export results
                    </button>
                    <search-arguments></search-arguments>
                    <results-description description="{{ concKwic.description }}" query-status="{{ concKwic.loading }}"></results-description>
                </div>
                <div class="row hidden-xs" id="act-on-report" ng-if="report !== 'concordance_from_collocation' && report !=='word_property_filter'">
                    <concordance-kwic-switch report="{{ report }}" ng-if="report !== 'bibliography'"></concordance-kwic-switch>
                    <sidebar-menu ng-if="philoConfig.facets.length > 1"></sidebar-menu>
                </div>
            </div>
            <div class="row" loading="concKwic.loading">
                <concordance ng-if="report === 'concordance' || report === 'concordance_from_collocation' || report === 'word_property_filter'"></concordance>
                <kwic ng-if="report === 'kwic'"></kwic>
                <bibliography ng-if="report === 'bibliography'"></bibliography>
                <facets facet="{{ concKwic.selectedFacet }}"></facets>
            </div>
        </div>
        <div class="more" ng-if="concKwic.results.results.length > 0">
            <pages></pages>
            <div style='clear:both;'></div>
        </div>
    </div>
    <access-control ng-if="!concKwic.authorized"></access-control>
</div>