<div id="results_container" class="col-xs-12 col-sm-8">
	<ol id="philologic_concordance">
		<li class="philologic-occurrence panel panel-default" ng-repeat="result in ::results.results" ng-init="position = $index + results.description.start">
			<div class="citation-container row">
				<div class="col-xs-12 col-sm-10 col-md-11">
				   <span class="cite" data-id="{{ ::result.philo_id.join(' ') }}">
						{{ ::position }}.
						<span class="philologic_cite">
							<a href="{{result.citation.div1.href}}" ng-if="results.default_object !== 'div2' && results.default_object !== 'div3' && result.citation.div1 | isEmpty">{{ ::result.citation.div1.label }}</a>
							<a href="{{result.citation.div2.href}}" ng-if="results.default_object !== 'div3' && result.citation.div2 | isEmpty">{{ ::result.citation.div2.label }}</a>
							<a href="{{result.citation.div3.href}}" ng-if="result.citation.div3 | isEmpty">{{ ::result.citation.div3.label }}</a>
							<span ng-if="result.metadata_fields.normalizedClass">&nbsp;[{{ ::result.metadata_fields.normalizedClass }}]</span>
							<span ng-if="result.metadata_fields.pos">&nbsp;(<i>{{ ::result.metadata_fields.pos }}</i>)</span>
							<span ng-if="result.citation.author | isEmpty" class="citation-small-caps">&nbsp;{{ ::result.citation.author.label }}</span>
							<span class="page-display" ng-if="results.result_type !== 'doc' && result.citation.page | isEmpty">page {{ ::result.citation.page.label }}</span>
						</span>
				   </span>
				</div>
				<div class="hidden-xs col-sm-2 col-md-1" ng-if="report !=='word_property_filter'">
				   <button class="btn btn-primary more_context pull-right" ng-click="moreContext($event, position - 1)">
					   More
				   </button>
				</div>
			</div>
		   <div class='philologic_context text-content-area' select-word position="{{ position }}">
			   <div class="default-length" ng-bind-html="result.context | unsafe"></div>
			   <div class="more-length"></div>
		   </div>
		</li>
	</ol>
</div>
