<div id="results_container" class="col-xs-12" ng-class="{'col-sm-8': concKwic.showFacetedBrowsing}">
    <ol id="philologic_concordance">
        <li class="philologic-occurrence panel panel-default" ng-repeat="result in ::results.results" ng-init="position = $index + results.description.start">
            <div class="citation-container row">
                <div class="col-xs-12 col-sm-10 col-md-11">
                   <span class="cite" data-id="{{ ::result.philo_id.join(' ') }}">
                        <span class="result-number">{{ ::position }}</span>
                        <span class="philologic_cite">
                            <span class="citation" ng-repeat="citation in result.citation">
                                <span ng-if="citation.href">
                                    <span ng-bind-html="citation.begin"></span><a ng-href="{{ ::citation.href }}" ng-style="citation.style">{{ ::citation.label }}</a><span ng-bind-html="citation.end"></span>
                                </span>
                                <span ng-if="!citation.href">
                                    <span ng-bind-html="citation.begin"></span><span ng-style="citation.style">{{ ::citation.label }}</span><span ng-bind-html="citation.end"></span>
                                </span>
                            </span>
                        </span>
                   </span>
                </div>
                <div class="hidden-xs col-sm-2 col-md-1" ng-if="report !=='word_property_filter'">
                   <button class="btn btn-primary more_context pull-right" ng-click="moreContext($event, position - 1)">
                       More
                   </button>
                </div>
            </div>
           <div class='philologic_context text-content-area' select-word position="{{ position }}">
               <div class="default-length" ng-bind-html="result.context | unsafe"></div>
               <div class="more-length"></div>
           </div>
        </li>
    </ol>
</div>
