<div id="concordanceKwic-container" ng-controller="ConcordanceKwicController as concKwic">
    <div id="philo-view" ng-if="concKwic.authorized">
        <div class="panel panel-default">
            <div id="initial_report">
                <div id="description" ng-if="typeof(concKwic.results) != 'undefined'" class="velocity-opposites-transition-fadeIn">
                    <button type="button" id="export-results" class="btn btn-default btn-xs pull-right hidden-xs" data-toggle="modal" data-target="#export-dialog">
                            Export results
                    </button>
                    <search-arguments></search-arguments>
                    <results-description description="{{ concKwic.description }}" query-status="{{ concKwic.loading }}"></results-description>
                </div>
                <div class="row hidden-xs" id="act-on-report" ng-if="report !=='word_property_filter'">
                    <concordance-kwic-switch report="{{ report }}" ng-if="report !== 'bibliography'"></concordance-kwic-switch>
                </div>
                <button type="button" class="btn btn-primary pull-right hidden-xs" style="margin-top: -33px; margin-right: 15px;" ng-if="!concKwic.showFacetedBrowsing" ng-hide="philoConfig.facets.length < 1" ng-click=" concKwic.showFacets() ">Show Facets</button>
            </div>
            <div class="row " loading="concKwic.loading ">
                <concordance ng-if="report==='concordance' || report==='word_property_filter' "></concordance>
                <kwic ng-if="report==='kwic' "></kwic>
                <bibliography ng-if="report==='bibliography' "></bibliography>
                <facets ng-if="concKwic.showFacetedBrowsing " ng-hide="philoConfig.facets.length < 1"></facets>
            </div>
        </div>
        <div class="more " ng-if="concKwic.description.resultsLength> 0">
            <pages></pages>
            <div style='clear:both;'></div>
        </div>
    </div>
    <access-control ng-if="!concKwic.authorized"></access-control>
</div>