<div id="facet-search"class="hidden-xs col-sm-4">
    <div class="panel panel-default clearfix" id="facet-selection">
        <button type="button" class="btn btn-default show-facet-selection" ng-if="!showFacetSelection" ng-click="displayFacetSelection()">
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <h4 id="facet-header">Browse by facet</h4>
        <div id="select-facets" class="list-group" ng-if="showFacetSelection">
            <div class="dropdown-header facet-divider">
                Frequency by
            </div>
            <a class="list-group-item" href="#" ng-repeat="facet in facets" ng-click="getFacet(facet)">
                {{ ::facet.alias }}
            </a>
            <div class="dropdown-header facet-divider" ng-if="report !== 'bibliography'">
                Collocates in the same sentence
            </div>
            <a class="list-group-item" href="#" ng-repeat="collocationFacet in collocationFacets" ng-click="getFacet(collocationFacet)">
                {{ ::collocationFacet.alias }}
            </a>
            <div class="dropdown-header facet-divider" ng-if="report !== 'bibliography' && wordsFacets.length > 0">
                Count results by
            </div>
            <a class="list-group-item" href="#" ng-repeat="facet in wordsFacets" ng-click="getFacet(facet)">
                {{ ::facet.alias }}
            </a>
        </div>
        <button type="button" class="btn btn-primary btn-sm close-box" ng-click="hideFacets()">X</button>
        <spinner show="{{ facetLoading }}"></spinner>
    </div>
    <div class="panel panel-default facet-results" ng-style="sidebarHeight" ng-if="showFacetResults">
        <button type="button" class="btn btn-primary btn-sm close-box" ng-click="closeFacets()">X</button>
        <h5 style="text-align: center;">
            Top 500 results for {{ selectedFacet.alias }}
        </h5>
        <ul class="list-group" class="velocity-opposites-transition-fadeIn" data-velocity-opts="{duration:400}">
            <li class="list-group-item row"  style="margin-left:0;margin-right:0" ng-repeat="result in facetResults" ng-click="facetClick(result)">
                <a id="freq_sidebar_text" class="text-content-area" href="{{ ::result.url }}" ng-if="facet.facet !== 'all_collocates'">
                    {{ ::result.label }}
                </a>
                <a id="freq_sidebar_text" class="text-content-area" href="" ng-click="collocationToConcordance(result.label)" ng-if="facet.facet === 'all_collocates'">
                    {{ ::result.label }}
                </a>
                <span class="sidebar-count"> {{ ::result.count }}</span>
                <div style="line-height: 70%; padding-bottom: 15px; padding-left: 5px; font-size: 85%;" ng-if="showingRelativeFrequencies">
                    <div style="opacity: .8">
                        {{ ::fullResults.unsorted[result.label].count }} actual
                        <ng-pluralize count="fullResults.unsorted[result.label].count" when="{'1': 'occurrence', 'other': 'occurrences'}"></ng-pluralize>
                        in {{ fullRelativeFrequencies[result.label].total_count }} words
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
