<div ng-class="{'col-xs-4': concKwic.frequencyResults.length > 0}" id="sidebar" loading="loading">
    <div id="sidebar_display" class="panel panel-default" ng-style="sidebarHeight" ng-if="concKwic.frequencyResults.length > 0">
        <div id="frequency_container">
            <progress-bar progress="{{ percent }}" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{duration:400}"></progress-bar>
            <div class="btn-group btn-group-justified" role="group" aria-label="..." ng-if="percent == 100 && report !== 'bibliography' && facet.type === 'facet'">
                <button type="button" class="btn btn-default" ng-class="{'active': showingRelativeFrequencies === false}" style="width: 50%; border-left-width: 0px; border-top-width: 0px" ng-click="displayAbsoluteFrequencies()">Absolute Frequency</button>
                <button type="button" class="btn btn-default" ng-class="{'active': showingRelativeFrequencies}" style="width: 50%; border-right-width: 0px; border-top-width: 0px" ng-click="displayRelativeFrequencies()">Relative Frequency</button>
            </div>
            <div style="text-align: center; padding: 8px;font-weight: 400;" ng-if="showingRelativeFrequencies">
                Frequencies per 1,000,000 words
            </div>
            <ol id="frequency_table" class="velocity-opposites-transition-fadeIn" data-velocity-opts="{duration:400}">
                <li ng-repeat="result in concKwic.frequencyResults.slice(0, 500)" ng-click="concKwic.facetClick(result)">
                    <a id="freq_sidebar_text" class="text-content-area" href="{{ ::result.url }}"> {{ ::result.label }}</a>
                    <span class="sidebar-count"> {{ ::result.count }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>