<div id="results_container" class="col-xs-12 col-sm-12" ng-class="concKwic.evaluateWidth()">
    <div style="margin: 15px 15px 0px 15px;">
        Resort results by
        <div class="btn-group" style="margin-left: 3px;" ng-repeat="fields in sortingFields track by $index" ng-init="index=$index">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>{{ sortingSelection[index] }}</span>
				<span class="caret"></span>
			</button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="selection in fields" ng-click="updateSortingSelection(index, selection)">
                    <a href="">{{ selection.label }}</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary btn-sm" ng-click="sortResults()">Sort</button>
    </div>
    <div id="kwic_concordance" ng-if="report === 'kwic'">
        <div class="kwic_line" ng-repeat="result in results.results | kwicBiblioDisplay" ng-init="currentPos = initializePos(results, $index)">
            <span ng-bind-html="currentPos | unsafe"></span>
            <a href="{{ ::result.citation_links.div1 }}" class="kwic_biblio" ng-mouseover="showFullBiblio($event)" ng-mouseleave="hideFullBiblio($event)">
                <span class="full_biblio" style="display:none;">{{ result.fullBiblio }}</span>
                <span class="short_biblio" ng-bind-html="result.shortBiblio | unsafe"></span>
            </a>
            <span ng-bind-html="result.context | unsafe"></span>
        </div>
    </div>
</div>