<div class="col-sm-5 col-lg-4" ng-class="{'col-sm-offset-7 col-lg-offset-8': report === 'bibliography'}" id="right-act-on-report">
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<span id="menu-header" ng-if="concKwic.selectedFacet.type === 'facet' || concKwic.selectedFacet.length === 0">Display frequency by</span>
			<span id="menu-header" ng-if="concKwic.selectedFacet.type === 'wordFacet'">Display frequency by</span>
			<span id="menu-header" ng-if="concKwic.selectedFacet.type === 'collocationFacet'">Display collocates</span>
			<span id="selected-sidebar-option">{{ concKwic.selectedFacet.alias }}</span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" id="frequency_field">
			<!--Frequency facets-->
			<li role="presentation" class="dropdown-header">Display frequency by</li>
			<li ng-repeat="facet in facets" ng-click="concKwic.selectFacet(facet)">
				<a class="sidebar-option">{{ ::facet.alias }}</a>
			</li>
			
			<!--Collocation facets-->
			<li class="divider" ng-if="report !== 'bibliography'"></li>
			<li role="presentation" class="dropdown-header" ng-if="report !== 'bibliography'">Display collocates</li>
			<li ng-if="report !== 'bibliography'" ng-repeat="collocationFacet in collocationFacets" ng-click="concKwic.selectFacet(collocationFacet)">
				<a class="sidebar-option">{{ ::collocationFacet.alias }}</a>
			</li>
			
			<!--Word facets-->
			<li class="divider" ng-if="report !== 'bibliography' && wordsFacets.length > 0"></li>
			<li role="presentation" class="dropdown-header" ng-if="report !== 'bibliography' && wordsFacets.length > 0">Count results by</li>
			<li ng-repeat="facet in wordsFacets" ng-if="report !== 'bibliography' && wordsFacets.length > 0" ng-click="concKwic.selectFacet(facet)">
				<a class="sidebar-option">{{ ::facet.alias }}</a>
			</li>
		</ul>
		<button type="button" id="hide-sidebar-button" class="btn btn-primary" ng-if="concKwic.frequencyResults.length > 0" ng-click="concKwic.removeSidebar()">
			<span class="glyphicon glyphicon-remove-circle" style="vertical-align: text-top"></span>
		</button>
	</div>
</div>