<div id="access-control-container" ng-controller="accessControlCtrl as access">
    <div class="panel panel-default">
        <div id="error-message" class="panel">
            <div class="bg-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Access Restricted to ARTFL subscribing institutions
            </div>
        </div>
        <div id="password-form" class="panel panel-default">
            <form id="password-access" ng-submit="access.submit()">
                <h5 ng-if="!access.accessDenied">If you have a username and password, please enter them here:</h5>
                <h5 class="text-danger" ng-if="access.accessDenied">Your username or password don't match. Please try again.</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 text-row">
                        Username:
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <input type="text" class="form-control" name="username" ng-model="access.accessInput.username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 text-row">
                        Password:
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <input type="text" class="form-control" name="password" ng-model="access.accessInput.password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="info-panel" class="panel panel-default">
            <p>
                Please <a href="http://artfl-project.uchicago.edu/node/24">contact ARTFL</a>
                for more information or to have your computer enabled if your institution   
                is an <a href="http://artfl-project.uchicago.edu/node/2">ARTFL subscriber</a>
            </p>
            <p>
                If you belong to a subscribing institution and are attempting to access
                ARTFL from your Internet Service Provider, please note that you should    
                use your institution's <b>proxy server</b> and should contact your
                networking support office.  Your proxy server must be configured to
                include <tt>{{ access.hostname }}</tt> to access this database.
            </p>
            <p>
                Please consult   
                <a href="http://artfl-project.uchicago.edu/node/14">Subscription Information</a> to see how your institution can   
                gain access to ARTFL resources.
            </p>
            <p ng-if="access.clientIp">Requesting Computer Address: <tt>{{ access.clientIp }}</tt></p>
        </div>
    </div>
</div>