<div class="toc-object" ng-controller="TableOfContentsController as toc">
    <div id="philo-view" ng-if="toc.authorized">
        <div class="row" id="toc-report-title">
            <div class="col-xs-offset-2 col-xs-8">
                <div id="doc-title">
					<span ng-if="toc.tocObject.citation.author.label.length > 0">{{ ::toc.tocObject.citation.author.label }}, </span>
                    <a id="toc-title" class="citation-small-caps">{{ ::toc.tocObject.citation.title.label }}</a>
					<span ng-if="toc.tocObject.citation.date | isEmpty">[{{ toc.tocObject.citation.date.label }}]</span>
                </div>
                <div id="doc-biblio">
					<span ng-if="toc.tocObject.citation.pub_place">{{ toc.tocObject.citation.pub_place }}</span>
					<span ng-if="toc.tocObject.citation.publisher">{{ toc.tocObject.citation.publisher }}</span>
					<span ng-if="toc.tocObject.citation.collection">{{ toc.tocObject.citation.collection }}</span>
					<span ng-if="toc.tocObject.citation.pub_date">{{ toc.tocObject.citation.pub_date }}</span>
				</div>
            </div>
        </div>
        <div class="panel panel-default">
            <button id="show-header" class="btn btn-primary" ng-if="!philoConfig.production" ng-click="toc.showHeader()">{{ toc.headerButton }}</button>
            <div id="tei-header" class="panel panel-default tei-header velocity-opposites-transition-slideDownIn" data-velocity-opts="{duration: 200}" ng-if="toc.teiHeader" ng-bind-html="toc.teiHeader | unsafe"></div>
            <div id="toc-report" class="text-content-area" loading="toc.loading">
                <div id="toc-content" infinite-scroll="toc.getMoreItems()" infinite-scroll-distance="4">
                    <div ng-repeat="element in toc.tocObject.toc | limitTo: toc.displayLimit">
                        <div class="toc-{{ ::element.philo_type }}">
                            <span class="bullet-point-{{ ::element.philo_type }}"></span>
                            <a href="{{ ::element.href }}">
                                {{ :: element.label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <access-control ng-if="!toc.authorized"></access-control>
</div>
