<div class="toc-object" ng-controller="TableOfContentsController as toc">
    <div id="philo-view" ng-if="toc.authorized">
        <div class="row" id="toc-report-title">
            <div class="col-xs-offset-2 col-xs-8">
                <span class="citation" ng-repeat="citation in toc.tocObject.citation">
                    <span ng-if="citation.href">
                        <span ng-bind-html="citation.prefix" ng-if="!$first"></span>
                        <a ng-href="{{ ::citation.href }}" ng-style="citation.style">{{ ::citation.label }}</a>
                        <span ng-bind-html="citation.suffix"></span>
                        <span ng-bind-html="citation.separator" ng-if="!$last"></span>
                    </span>
                    <span ng-if="!citation.href">
                        <span ng-bind-html="citation.prefix" ng-if="!$first"></span>
                        <span ng-style="citation.style">{{ ::citation.label }}</span>
                        <span ng-bind-html="citation.suffix"></span>
                        <span ng-bind-html="citation.separator" ng-if="!$last"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <button id="show-header" class="btn btn-primary" ng-if="philoConfig.header_in_toc" ng-click="toc.showHeader()">{{ toc.headerButton }}</button>
            <div id="tei-header" class="panel panel-default tei-header velocity-opposites-transition-slideDownIn" data-velocity-opts="{duration: 200}" ng-if="toc.teiHeader" ng-bind-html="toc.teiHeader | unsafe"></div>
            <div id="toc-report" class="text-content-area" loading="toc.loading">
                <div id="toc-content" infinite-scroll="toc.getMoreItems()" infinite-scroll-distance="4">
                    <div ng-repeat="element in toc.tocObject.toc | limitTo: toc.displayLimit">
                        <div class="toc-{{ ::element.philo_type }}">
                            <span class="bullet-point-{{ ::element.philo_type }}"></span>
                            <a href="{{ ::element.href }}">
                                {{ :: element.label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <access-control ng-if="!toc.authorized"></access-control>
</div>
