<div id="default-landing-page">
    <div class="row" id="landingGroup">
        <div class="col-xs-12 col-sm-6 col-ranges" ng-class="{'col-sm-offset-3': defaultLandingPageBrowsing.length == 1}" ng-repeat="browseType in ::defaultLandingPageBrowsing">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ ::browseType.label }}
                </div>
                <div class="panel-body">
                    <table class="table table-bordered range-selectors" data-type="author">
                        <tr ng-repeat="ranges in ::browseType.ranges">
                            <td ng-repeat="range in ::ranges" ng-click="lp.getContent(browseType, range)">{{ ::range }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
