<div id="landing-page-content" infinite-scroll="displayMoreItems()" infinite-scroll-distance="2">
    <div loading="loadingContent" class="text-content-area">
        <ul class="row" ng-repeat="group in resultGroups | limitTo: displayLimit">
            <h4>{{ ::group.prefix }}</h4>
            <li class="{{ ::contentClass }}" ng-repeat="result in ::group.results">
                <span class="citation" ng-repeat="citation in result.citation">
                    <span ng-if="citation.href">
                        <span ng-bind-html="citation.begin"></span><a ng-href="{{ ::citation.href }}" ng-style="citation.style">{{ ::citation.label }}</a><span ng-bind-html="citation.end"></span>
                    </span>
                    <span ng-if="!citation.href">
                        <span ng-bind-html="citation.begin"></span><span ng-style="citation.style">{{ ::citation.label }}</span><span ng-bind-html="citation.end"></span>
                    </span>
                </span>
                <span ng-if="displayCount ==  'true'">
                    &nbsp;({{ ::result.count }})
                </span>
            </li>
        </ul>
    </div>
</div>
