<div id="landing-page-content" infinite-scroll="displayMoreItems()" infinite-scroll-distance="2">
    <div loading="loadingContent" class="text-content-area">
        <ul class="row" ng-repeat="group in resultGroups | limitTo: displayLimit">
            <h4>{{ ::group.prefix }}</h4>
            <li class="{{ ::contentClass }}" ng-repeat="result in ::group.results">
                <span class="citation" ng-repeat="citation in result.citation">
                    <a ng-href="{{ ::citation.href }}" ng-class="{'citation-separator': citation.separator}" ng-style="citation.style" ng-if="citation.href">{{ ::citation.label }}</a>
                    <span ng-if="!citation.href" ng-class="{'citation-separator': citation.separator}" ng-style="citation.style">{{ ::citation.label }}</span>
                </span>
                <span ng-if="displayCount ==  'true'">
                    &nbsp;({{ ::result.count }})
                </span>
            </li>
        </ul>
    </div>
</div>
