<div id="landing-page-container">
    <div id="philo-view" ng-if="lp.authorized">
		<div class="landing-page-logo" ng-class="{'dictionary': philoConfig.dictionary}" ng-if="philoConfig.logo">
			<img ng-src="{{ ::philoConfig.logo }}">
		</div>
        <default-landing-page ng-if="lp.landingPageBrowsing === 'default'"></default-landing-page>
        <dictionary-landing-page ng-if="lp.landingPageBrowsing === 'dictionary'"></dictionary-landing-page>
        <simple-landing-page ng-if="lp.landingPageBrowsing === 'simple'"></simple-landing-page>
        <custom-landing-page ng-if="lp.landingPageBrowsing != 'default' && lp.landingPageBrowsing != 'dictionary' && lp.landingPageBrowsing != 'simple'"></custom-landing-page>
        <landing-page-content name="{{ lp.query }}"></landing-page-content>
    </div>
    <access-control ng-if="!lp.authorized"></access-control>
</div>
