<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-offset-2 col-lg-8" id="center-content" ng-show="textObject.text">
    <div class="row">
        <div style="font-size: 80%; text-align: center;" ng-if="philoConfig.dictionary_lookup != ''">
            To look up a word in a dictionary, select the word with your mouse and press 'd' on your keyboard.
        </div>
        <div class="col-xs-12">
            <div id="book-page">
                <div id="previous-pages" ng-if="beforeObjImgs">
                    <span class="xml-pb-image">
					    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="page-image-link" ng-repeat="img in beforeObjImgs track by $index" data-gallery></a>
                    </span>
                </div>
                <div id="previous-graphics" ng-if="beforeGraphicsImgs">
                    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="inline-img" ng-repeat="img in beforeGraphicsImgs track by $index" data-gallery></a>
                </div>
                <div id="text-obj-content" class="panel panel-default text-content-area" ng-bind-html="textObject.text | unsafe" compile-template select-word philo-id="{{ philoID }}" ng-keydown="textNav.dicoLookup($event, textObject.metadata_fields.year)" tabindex="0"></div>
                <div id="next-pages" ng-if="afterObjImgs">
                    <span class="xml-pb-image">
					    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="page-image-link" ng-repeat="img in afterObjImgs track by $index" data-gallery></a>
                    </span>
                </div>
                <div id="next-graphics" ng-if="afterGraphicsImgs">
                    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="inline-img" ng-repeat="img in afterGraphicsImgs track by $index" data-gallery></a>
                </div>
            </div>
        </div>
    </div>
</div>