<div class="text-object" ng-controller="TextNavigationController as textNav">
    <div id="philo-view" ng-if="textNav.authorized">
        <div id="object-title">
            <span class="citation" ng-repeat="citation in textObject.citation">
                <span ng-if="citation.href">
                    <span ng-bind-html="citation.prefix" ng-if="!$first"></span>
                    <a ng-href="{{ ::citation.href }}" ng-style="citation.style">{{ ::citation.label }}</a>
                    <span ng-bind-html="citation.suffix"></span>
                    <span ng-bind-html="citation.separator" ng-if="!$last"></span>
                </span>
                <span ng-if="!citation.href">
                    <span ng-bind-html="citation.prefix" ng-if="!$first"></span>
                    <span ng-style="citation.style">{{ ::citation.label }}</span>
                    <span ng-bind-html="citation.suffix"></span>
                    <span ng-bind-html="citation.separator" ng-if="!$last"></span>
                </span>
            </span>
        </div>
        <navigation-bar toc-done="{{ textNav.tocDone }}" prev="{{ textObject.prev }}" next="{{ textObject.next }}" ng-if="textNav.navBar === true || textNav.loading === false"></navigation-bar>
        <div class="row" id="all-content" loading="textNav.loading">
            <text-object></text-object>
        </div>
    </div>
    <access-control ng-if="!textNav.authorized"></access-control>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-full-screen="true" data-continuous="false" style="display: none">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a class="next"><span class="glyphicon glyphicon-arrow-right"></span></a>
    <a id="full-size-image" class="glyphicon glyphicon-new-window" ng-click="textNav.fullSizeImage()"></a>
    <a class="close">&#10005;</a>
    <ol class="indicator"></ol>
</div>
