<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" id="center-content" ng-show="textObject.text">
    <div class="row">
        <div class="col-xs-12">
            <div id="book-page">
				<div id="previous-pages" ng-if="beforeObjImgs">
                    <span class="xml-pb-image">
					    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="page-image-link" ng-repeat="img in beforeObjImgs track by $index" data-gallery></a>
                    </span>
				</div>
                <div id="text-obj-content" class="panel panel-default text-content-area" ng-bind-html="textObject.text | unsafe" compile-template select-word philo-id="{{ philoID }}"></div>
				<div id="next-pages" ng-if="afterObjImgs">
                    <span class="xml-pb-image">
					    <a href="{{ img[0] }}" large-img="{{img[1]}}" class="page-image-link" ng-repeat="img in afterObjImgs track by $index" data-gallery></a>
                    </span>
				</div>
            </div>
        </div>
    </div>
</div>