<div id="metadata_fields">
    <div class="row" ng-repeat="metadata in metadataFields | metadataFieldsFilter">
        <div class="col-xs-12 col-sm-2 col-md-2 text-row">
            {{ ::metadata.label }}:
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <input type='text' name='{{ ::metadata.value }}' id="{{ ::metadata.value }}" class="form-control" autocomplete-metadata ng-model="formData[metadata.value]">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6 text-row">
            (e.g., {{ ::metadata.example }})
        </div>
    </div>
</div>
