<div class="container" style="overflow: hidden;" ng-controller="searchForm">
    <form id="search" role="form" ng-submit="submit()">
        <div id="form_body">
            <div id="search_overlay" ng-if="formOpen" class="overlay-fadeOut"></div>
            <div id="initial-form">
                <search-reports></search-reports>
                <search-terms></search-terms>
            </div>
            <div id="search-elements" ng-if="formOpen" class="velocity-opposites-transition-slideDownBigIn" data-velocity-opts="{ duration: 400 }">
                <h5>Refine your search with the following options and fields:</h5>
                <search-methods></search-methods>
                <metadata-fields></metadata-fields>
                <collocation-options></collocation-options>
                <time-series-options></time-series-options>
                <results-per-page></results-per-page>
            </div>
        </div>
    </form>
</div>