<div class="container" style="overflow: hidden;" ng-controller="SearchFormController as search">
    <div ng-if="philoConfig.dictionary === false">
        <form id="search" role="form" ng-submit="search.submit()">
            <div id="form_body">
                <div id="initial-form">
                    <search-reports></search-reports>
                    <search-terms></search-terms>
                </div>
                <div id="search-elements" ng-if="search.formOpen" class="velocity-opposites-transition-slideDownBigIn" data-velocity-opts="{ duration: 400 }">
                    <h5>Refine your search with the following options and fields:</h5>
                    <div class="row" style="margin-top: 10px; height: 24px;">
                        <div class="col-xs-12 col-sm-2">
                            Search Terms
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <span>
                                        <input type="checkbox" ng-model="formData.approximate" ng-true-value="'yes'"/>
                                        Approximate match
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-9" style="margin-top: -3px" ng-if="formData.approximate === 'yes'">
                                    <span>
                                        How approximate?
                                        <input type="text" style="width: 30px; text-align: center;" ng-model="formData.approximate_ratio">
                                        % or more
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <search-methods></search-methods>
                    <metadata-fields></metadata-fields>
                    <collocation-options></collocation-options>
                    <time-series-options></time-series-options>
                    <kwic-options></kwic-options>
                    <results-per-page></results-per-page>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="philoConfig.dictionary">
        <div class="container" style="overflow: hidden;" ng-controller="SearchFormController as search">
            <form id="search" role="form" ng-submit="search.submit()">
                <div id="form_body">
                    <div id="initial-form">
                        <search-reports></search-reports>
                        <search-terms></search-terms>
                        <div id="head-search-container">
                            <metadata-fields field="head"></metadata-fields>
                        </div>
                    </div>
                    <div id="search-elements" ng-if="search.formOpen" class="dico velocity-opposites-transition-slideDownBigIn" data-velocity-opts="{ duration: 400 }">
                        <h5>Refine your search with the following options and fields:</h5>
                        <search-methods></search-methods>
                        <metadata-fields exclude="head"></metadata-fields>
                        <collocation-options></collocation-options>
                        <time-series-options></time-series-options>
                        <kwic-options></kwic-options>
                        <results-per-page></results-per-page>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
