<form id="search" role="form" ng-submit="submit()" style="display: none;">
    <div id="form_body">
        <div id="search_overlay" ng-if="formOpen" class="overlay-fadeOut"></div>
        <div id="initial-form">
            <search-reports></search-reports>
            <div id="search_terms_container">
                <div id="search_terms" class="row">
                    <div class="col-xs-12 col-sm-2 text-row">
                        Search Terms:
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn hidden-xs">
                                <button class="btn btn-default" type="button" id="tip-btn" data-toggle="modal" data-target="#syntax">
                                    <span id="tip">?</span><span id="tip-text">Tips</span>
                                </button>
                            </span>
                            <input type='text' name='q' id='q' class="form-control" autocomplete-term ng-model="formData.q">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" id="button-search">
                                    <span class="glyphicon glyphicon-search" style="vertical-align:text-top;"></span>
                                </button>
                            </span> 
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4" id="search-buttons">
                        <button type="reset" id="reset_form" class="btn btn-danger" ng-click="clearFormData()">Clear</button>
                        <button type="button" id="show-search-form" class="btn btn-primary" data-display="none" ng-click="toggleForm()">Show search options</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-elements" ng-if="formOpen" class="velocity-opposites-transition-slideDownBigIn" data-velocity-opts="{ duration: 400 }">
            <h5>Refine your search with the following options and fields:
            </h5>
            <!--This row defines the search method options-->
            <div class="row hidden-xs" id='method' ng-if="formData.report != 'collocation'">
                <div class="col-xs-12 col-sm-2" style="margin-top: 40px;">
                    Search Terms
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-2" id="method-buttons">
                    <div class="btn-group-vertical" data-toggle="buttons">
                        <label class="btn btn-primary active" ng-click="radioClick('method', 'proxy')">
                            <input type="radio" name="method" id="method1" value='proxy' checked>
                            Within
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('method', 'phrase')">
                            <input type="radio" name="method" id="method2" value='phrase'>
                            Exactly
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('method', 'cooc')">
                            <input type="radio" name="method" id="method3" value='cooc'>
                            In the same sentence
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-8">
                    <input type='text' name='arg_proxy' id='arg_proxy' class="form-control" style="width:40px; text-align: center;" ng-model="formData.arg_proxy">
                    <span style="padding-left: 10px">words in the same sentence</span><br>  
                    <input type='text' name='arg_phrase' id='arg_phrase' class="form-control" style="width:40px; text-align: center;" ng-model="formData.arg_phrase">
                    <span style="padding-left: 10px">words in the same sentence</span>
                </div>
            </div>
            <metadata-fields></metadata-fields>
            <collocation-options></collocation-options>
            <time-series-options></time-series-options>
            <results-per-page></results-per-page>
        </div>
    </div>
    <fixed-search-bar ng-show="showSearchBar"></fixed-search-bar>
</form>
<div id="waiting">
</div>