<form id="search" role="form" ng-submit="submit()" style="display: none;">
    <div id="form_body">
        <div id="search_overlay" ng-if="formOpen" class="overlay-fadeOut"></div>
        <div id="initial-form">
            <search-reports></search-reports>
            <div id="search_terms_container">
                <div id="search_terms" class="row">
                    <div class="col-xs-12 col-sm-2 text-row">
                        Search Terms:
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn hidden-xs">
                                <button class="btn btn-default" type="button" id="tip-btn" data-toggle="modal" data-target="#syntax">
                                    <span id="tip">?</span><span id="tip-text">Tips</span>
                                </button>
                            </span>
                            <input type='text' name='q' id='q' class="form-control" autocomplete-term ng-model="formData.q">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" id="button-search">
                                    <span class="glyphicon glyphicon-search" style="vertical-align:text-top;"></span>
                                </button>
                            </span> 
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4" id="search-buttons">
                        <button type="reset" id="reset_form" class="btn btn-danger" ng-click="clearFormData()">Clear</button>
                        <button type="button" id="show-search-form" class="btn btn-primary" data-display="none" ng-click="toggleForm()">Show search options</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-elements" ng-if="formOpen" class="velocity-opposites-transition-slideDownBigIn" data-velocity-opts="{ duration: 400 }">
            <h5>Refine your search with the following options and fields:
            </h5>
            <!--This row defines the search method options-->
            <div class="row hidden-xs" id='method' ng-if="formData.report != 'collocation'">
                <div class="col-xs-12 col-sm-2" style="margin-top: 40px;">
                    Search Terms
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-2" id="method-buttons">
                    <div class="btn-group-vertical" data-toggle="buttons">
                        <label class="btn btn-primary active" ng-click="radioClick('method', 'proxy')">
                            <input type="radio" name="method" id="method1" value='proxy' checked>
                            Within
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('method', 'phrase')">
                            <input type="radio" name="method" id="method2" value='phrase'>
                            Exactly
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('method', 'cooc')">
                            <input type="radio" name="method" id="method3" value='cooc'>
                            In the same sentence
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-8">
                    <input type='text' name='arg_proxy' id='arg_proxy' class="form-control" style="width:40px; text-align: center;" ng-model="formData.arg_proxy">
                    <span style="padding-left: 10px">words in the same sentence</span><br>  
                    <input type='text' name='arg_phrase' id='arg_phrase' class="form-control" style="width:40px; text-align: center;" ng-model="formData.arg_phrase">
                    <span style="padding-left: 10px">words in the same sentence</span>
                </div>
            </div>
            <div id="metadata_fields">
                <div class="row" ng-repeat="(metadata, displayValue) in metadataFields">
                    <div class="col-xs-12 col-sm-2 col-md-2 text-row">
                        {{ ::displayValue.value }}:
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <input type='text' name='{{ metadata }}' id="{{ metadata }}" class="form-control" autocomplete-metadata ng-model="formData[metadata]">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6 text-row">
                        (e.g., {{ ::displayValue.example }})
                    </div>
                </div>
            </div>
            <div id="collocation-options" class="row" ng-if="formData.report == 'collocation'">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2 text-row">
                            Within
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1">
                            <select name="word_num" class="form-control" style="width: auto;" ng-model="formData.word_num" ng-options="opt for opt in collocWordNum">
                            </select>
                        </div>
                        <div class="col-xs-7 col-sm-5 col-md-7 text-row">
                            (1-10) words
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2 col-md-2 text-row">
                            Word Filtering
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <select name="filter_frequency" class="form-control" style="width: auto;" ng-model="formData.filter_frequency" ng-options="opt for opt in wordFiltering">
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <div class="btn-group-vertical" role="group" data-toggle="buttons" id="colloc_filter_choice">
                                <label class="btn btn-primary active" id="colloc-filter-frequency" ng-click="radioClick('colloc_filter_choice', 'frequency')">
                                    <input type="radio" name="colloc_filter_choice" value="frequency" checked="checked">Most frequent terms
                                </label>
                                <label class="btn btn-primary" id="colloc-filter-stopwords" ng-if="stopwords" ng-click="radioClick('colloc_filter_choice', 'stopwords')">
                                    <input type="radio" name="colloc_filter_choice" value="stopwords">Stopwords
                                </label>
                                <label class="btn btn-primary" id="colloc-no-filter" ng-click="radioClick('colloc_filter_choice', 'nofilter')">
                                    <input type="radio" name="colloc_filter_choice" value="nofilter">No filtering
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="time_series_num" class="row" ng-if="formData.report == 'time_series'">
                <div class="col-xs-12 col-sm-2 col-md-2 text-row">
                    Date range:
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    from <input type='text' name="start_date" id="start_date" style="width:35px;" ng-model="formData.start_date">
                    to <input type='text' name="end_date" id="end_date" style="width:35px;" ng-model="formData.end_date">
                </div>
            </div>
            <div id="date_range" class="row" ng-if="formData.report == 'time_series'">
                <div class="col-xs-12 col-sm-2 col-md-2 text-row">
                    Year interval:
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <div id="year_interval" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" ng-click="radioClick('year_interval', timeSeriesIntervals[0].date)">
                            <input type="radio" name="year_interval" id="year0" value="{{ ::timeSeriesIntervals[0].date }}" checked>
                            {{ ::timeSeriesIntervals[0].alias }}
                        </label>
                        <label class="btn btn-primary" ng-repeat="display in timeSeriesIntervals.slice(1)" ng-click="radioClick('year_interval', display.date)">
                            <input type="radio" name="year_interval" id="year{{ $index }}" value="{{ ::display.date }}">
                            {{ ::display.alias }}
                        </label>
                    </div>
                </div>
            </div>
            <div id="results_per_page" class="row" ng-if="formData.report != 'collocation' && formData.report != 'time_series'">
                <div class="col-xs-12 col-sm-2 col-md-2 text-row">
                    Results per page:
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <div class="btn-group" id='results_per_page' data-toggle="buttons">
                        <label class="btn btn-primary active" ng-click="radioClick('results_per_page', '25')">
                            <input type="radio" name="results_per_page" id="pagenum1" value='25' checked>
                            25
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('results_per_page', '50')">
                            <input type="radio" name="results_per_page" id="pagenum2" value='50'>
                            50
                        </label>
                        <label class="btn btn-primary" ng-click="radioClick('results_per_page', '100')">
                            <input type="radio" name="results_per_page" id="pagenum3" value='100'>
                            100
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <fixed-search-bar ng-show="showSearchBar"></fixed-search-bar>
</form>
<div id="waiting">
</div>