<div id="time_series_num" class="row" ng-if="formData.report == 'time_series'">
    <div class="col-xs-12 col-sm-2 col-md-2 text-row">
        Date range:
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
        from <input type='text' name="start_date" id="start_date" style="width:35px;" ng-model="formData.start_date">
        to <input type='text' name="end_date" id="end_date" style="width:35px;" ng-model="formData.end_date">
    </div>
</div>
<div id="date_range" class="row" ng-if="formData.report == 'time_series'">
    <div class="col-xs-12 col-sm-2 col-md-2 text-row">
        Year interval:
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
        <div id="year_interval" class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active" ng-click="radioClick('year_interval', timeSeriesIntervals[0].date)">
                <input type="radio" name="year_interval" id="year0" value="{{ ::timeSeriesIntervals[0].date }}" checked>
                {{ ::timeSeriesIntervals[0].alias }}
            </label>
            <label class="btn btn-primary" ng-repeat="display in timeSeriesIntervals.slice(1)" ng-click="radioClick('year_interval', display.date)">
                <input type="radio" name="year_interval" id="year{{ $index }}" value="{{ ::display.date }}">
                {{ ::display.alias }}
            </label>
        </div>
    </div>
</div>