<div id="time-series-options">
    <div id="time_series_num" class="row" ng-if="formData.report == 'time_series'">
        <div class="col-xs-12 col-sm-2 col-md-2 text-row">
            Date range:
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            from <input type='text' name="start_date" id="start_date" style="width:35px;" ng-model="formData.start_date">
            to <input type='text' name="end_date" id="end_date" style="width:35px;" ng-model="formData.end_date">
        </div>
    </div>
    <div id="date_range" class="row" ng-if="formData.report == 'time_series'">
        <div class="col-xs-12 col-sm-2 col-md-2 text-row">
            Year interval:
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            every <input type='text' name="year_interval" id="year_interval" style="width:35px; text-align: center;" ng-model="formData.year_interval">&nbsp;years
        </div>
    </div>
</div>