#kwic_concordance {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 12px;
    padding: 15px;
}
.kwic_line {
    line-height: 180%;
	white-space: nowrap;
	overflow: hidden;
}
.kwic_biblio {
    font-weight:400 !important;
	z-index: 10;
}
.short_biblio {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}
.full_biblio {
	z-index: 10;
}
#philologic_concordance, #colloc_concordance {
    list-style-type: none;
    overflow: hidden;
	padding-bottom: 10px;
}
.philologic_occurrence {
    padding-bottom : 2px;
    margin: 15px 1px 6px 1px;
    background-color: white;
    left: 0;
    position: relative;
}
.philologic_context {
    text-align: justify;
	padding: 7px 4px 5px 4px;
}

.kwic-before {
	text-align: right;
	overflow: hidden;
	display: inline-block;
	position: absolute;
}
.inner-before {
	float: right;
}
.kwic-after {
	text-align: left;
	display: inline-block;
}
.kwic-text {
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
}

@media (min-width: 1200px) {
	.kwic-highlight {
		margin-left: 430px;
	}
	.kwic-before {
		width: 430px;
	}
}
@media (min-width:992px) and (max-width: 1199px) {
	.kwic-highlight {
		margin-left: 330px;
	}
	.kwic-before {
		width: 330px;
	}
}
@media (min-width:768px) and (max-width: 991px) {
	.kwic-highlight {
		margin-left: 220px;
	}
	.kwic-before {
		width: 220px;
	}
	.kwic_line {
		font-size: 12px;
	}
}
@media (max-width:767px) {
	.kwic-highlight {
		margin-left: 200px;
	}
	.kwic-before {
		width: 200px;
	}
	.kwic_line {
		font-size: 12px;
	}
}
#act-on-report {
	margin-left: 0px;
	margin-right: 0px;
}
#sidebar_display {
	margin-right: 15px;
	margin-top: 15px;
}


/*Citations*/
.hit_n {
    vertical-align: 5px;    /*align numbers*/
}
.more_context {
	border-width: 0px 0px 0px 1px;
	transition: all 250ms;
}
.cite {
	padding-left: 1.6em;
	text-indent: -1.2em;
	padding-top: 7px;
	display: inline-block;
}
.philologic_cite a:nth-child(n+2) {
    font-weight: 400 !important;
    margin-left: 8px;
    padding-left: 8px;
    border-left: double 3px darkgray;
}
.citation-container {
	border-bottom: 1px solid;
}
.collocate {
    font-weight:400;
}

/*All the sidebar classes*/
#sidebar_display #freq_sidebar_status {
	margin: 0em 0em 0.5em 0em;
}
#frequency_container {
    display: none;
}
#frequency_table {
    padding: 5px;
    line-height: 230%;
    margin-top: 0px;
}
#freq_sidebar_text {
    display: inline-block !important;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Concordance styling for theater */
speaker {
    font-weight: 700;
}
sp {
    display: block;
}
l, ab {
    display: block;
}
sp+l, sp+ab {
    display: inline;
}
stage {
    font-style: italic;
}