.panel-body {
    padding: 0px;
}
ul {
    margin-bottom: 0px;
}
.panel-heading {
    text-align: center;
}
#landingGroup {
    margin-top: 50px;
    margin-bottom: 10px;
}
#landingGroup ul {
    width: 100%;
}
#author-range-selectors, #title-range-selectors, #year-range-selectors {
    padding: 0px 10px 0px 10px;
    line-height: 200%;
    border-bottom-width: 0px;
}
#author-range-selectors li, #title-range-selectors li {
    border-bottom: solid 1px #eee;
    padding-left: 5px;
}
#year-range-selectors li {
    border-bottom: solid 1px #eee;
}
#author-range-selectors li:last-child, #title-range-selectors li:last-child, #year-range-selectors li:last-child {
    border-bottom-width: 0px;
}
#author-range-selectors li:hover, #title-range-selectors li:hover, #year-range-selectors li:hover {
    background-color: #eee;
}
#author-range-selectors a, #title-range-selectors a, #year-range-selectors a {
    display: block;
}
#author-range-selectors a:hover, #title-range-selectors a:hover, #year-range-selectors a:hover {
    text-decoration: none;
    cursor: pointer
}
#year-range-selectors {
    margin-left: 0px;
}
#year-range-selectors a {
    text-align: center;
}
#landing-page-content {
    display: none;
}
#landing-page-content h4 {
    padding-left: 5px;
}
#landing-page-content li {
    padding-left: 20px;
}


@media (max-width: 767px) {
    #year-range-selectors li:nth-child(2n+1) {
        border-right: solid 1px #eee;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #year-range-selectors li:not(:nth-child(3n+3)) {
        border-right: solid 1px #eee;
    }
}
@media (min-width: 979px) and (max-width: 1199px) {
    #year-range-selectors li:not(:nth-child(4n+4)) {
        border-right: solid 1px #eee;
    }
}
@media (min-width: 1200px) {
    #year-range-selectors li:not(:nth-child(6n+6)) {
        border-right: solid 1px #eee;
    }
}