/* Get the footer to stick at the bottom */
* {
    margin: 0;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    height: auto !important;
    position:relative;
    margin: 0 auto -50px;
}
#push {
    height: 80px;
}
#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
#footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
html, body {
    height:100%;
}
body {
    font-family: 'Averia Serif Libre', cursive;
}
#header, #footer {
    z-index: 1000;
}
#header .navbar {
    border: 0px;
    border-bottom: 0.01em solid black;
}

/* Fonts */
#main-body{
    font-weight:300;
    font-size: 14px;
    line-height: 130%;
}
@media (max-width: 768px) {
    #main-body, .btn {
        font-size: 12px !important;
    }
    #results_container {
        padding-left: 0;
        padding-right: 0;
    }
    .form-control {
        height: 31px;
    }
}
ol, ul {
    padding: 0;
}
li {
	list-style-type: none;
}
.small-caps {
    font-variant:small-caps;
}
#philologic_response {
    margin-top: 120px;
}

.navbar {
    margin-bottom: 0px;
    z-index: 0;
}

/* Collocation classes */
#philologic_collocation {
	padding-left: 15px;
}
.collocation_counts {
    padding: 5px 10px 10px 10px;
    display:none;
    text-align: justify;
    line-height: 200%;
}
.colloc_link {
    color: #990000;
    cursor: pointer;
}
.cloud_term {
    -webkit-transition: 200ms linear;
    -ms-transition: 200ms linear;
    -moz-transition: 200ms linear;
    transition: 200ms linear;
}
.cloud_term:hover {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}
.table td, .table th {
    text-align: center;
}
#collocation_table td {
	padding: 0;
}
.colloc-row {
	display: block;
	line-height: 300%;
}
.colloc-row:nth-child(2n-1) {
	background-color: #FAFAFA;
}

/*Pages links*/
.more {
    font-size: 130%;
    text-align: center;
}
.more .previous {
    float:left;
}
.more .next {
    float: right;
}

/*Random stuff to be organized*/
#bibliographic_results {
    list-style-type: none;
    border-top: solid 1px #ECECEC;
}
#description {
    font-size: 1.1em;
	padding: 10px 15px;
    margin-bottom: 10px;
}
#search_arguments {
    margin-bottom: 10px;
}
#export-results {
	margin-top: -10px;
	margin-right: -15px;
	border-width: 0px 0px 1px 1px;
}
.highlight {
    color: #EF4500;
    font-weight: 400;
}
.separation {
        width:40%;
        text-align:left;
        margin-left:20px;
        color: #000;
        background-color: #000;
        height: 1px;
}
.bibliography {
        padding-bottom: 10px;
}
#current_results_page {
    background: white !important;
}
#results-bibliography {
    margin-top: 25px;
    margin-bottom: 35px;
}
#show-results-bibliography {
    font-size: 1.3em;
}
#results-bibliography li {
    box-shadow: 0px 0px 3px #A8A8A8;
    padding: 5px;
    margin-top: 8px;
    line-height: 200%;
}

/* hack for inserted page links at top of object */
b p.inserted-page {
  display:inline;
}
s {
    text-decoration: none;
}

.dot {
    display: inline-block;
    background: black;
    width: 8px;
    height: 8px;
    border-radius:50%;
    margin-right: 5px;
}
#time_series_report {
    margin-left: -50px;
}

#search_arguments {
    line-height: 180%;
}
.remove_metadata, #remove_metadata_date_start, #remove_metadata_date_end {
    display:inline-block !important;
    vertical-align: text-top;
}
.remove_metadata:hover, #remove_metadata_date_start:hover, #remove_metadata_date_end:hover {
    cursor: pointer;
}
/*Text formatting*/
.xml-l {
    display: block;
}
span.note {
	display: inline;
}
.xml-l::before {
    content:attr(n) "\0020\0020\0020";
    font-family: 'Droid Sans Mono', sans-serif;
    color: #bababa;
    font-size: .7em;
}
.xml-l[type="split"]::before {
    content: "";
}
.xml-lb[type="hyphenInWord"] {
    display: inline;
}
.xml-gap .xml-desc {
	display: none;
}
.xml-gap::after {
	content: "*";
}
.xml-hi {
	font-style: italic;
	font-variant: small-caps;
}
.xml-w::before {
    margin:0;padding:0;float:left;
}
br {
    content: " ";
    display: block;
}

/*Bootstrap customization*/
#method .form-control, #metadata_fields .form-control {
    display: inline-block;
}
.text-row {
    margin-top: 7px;
}
#philologic_concordance .panel, .biblio-occurrence {
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
}
.bibliographic-results li {
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
}
a.sidebar-option:hover {
    cursor: pointer;
}
.btn, .panel, .panel-heading, .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px !important;
}

/*Metadata criteria in results*/
.biblio-criteria {
    padding: 3px;
}

/*Autocomplete styling*/
.ui-autocomplete {
	position: absolute;
	z-index: 200;
	background: #fff;
	border: solid #eee 1px;
	overflow: hidden;
	font-family: inherit !important;
	font-size: inherit !important;
	font-weight: 300;
	overflow-y: scroll;
	max-height: 300px;
	box-shadow: 0px .2em 8px .01em rgba(0,0,0,0.1);
}
.ui-menu-item {
	padding: 7px 10px;
}
.ui-menu-item:hover {
	cursor: pointer;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #eee;
}


/*Loading animation*/
#waiting {
	display:none;
	position: absolute;
	z-index:99;
	width: 100px;
	height: 100px;
	border-color: rgba(160, 160, 160, .7) rgba(0, 0, 0, .7) rgba(160, 160, 160, .7) rgba(160, 160, 160, .7);
	border-style: solid;
	border-width: 6px 6px 6px 6px;
	border-radius: 50%;
}

/*Hide progress bar by default*/
.progress {
	display: none;
}