#test_time_series {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
}
.graph_bar {
    height: 0px;
    position:absolute;
    bottom:0;
    overflow: visible !important; /* make sure years don't temporarily disappear when switching between absolute and relative frequencies */
}
.graph_bar:hover {
    cursor: pointer;
}
#side_text {
    position: absolute;
    bottom: 50%;
    margin-left: -115px;
    font-size: 90%;
    width: 200px;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.graph_years {
    position: absolute;
    bottom: -40px;
    font-size: 90%;
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
}



#first_division, #middle_division, #top_division {
    position: absolute;
    z-index: 50;
    border-top: dashed 1px #B8B8B8;
}
#first_division {
    bottom: 33%;
}
#middle_division {
    bottom: 66%;
}
#top_number, #middle_number, #first_number {
    margin-top: -16px;
    position: absolute;
    z-index: 100;
}
