Options +ExecCGI
Options -Indexes
AddHandler cgi-script py
DirectoryIndex dispatcher.py

RewriteEngine on
RewriteRule ^assets/(.*) app/dist/assets/$1 [L]
RewriteRule ^img/(.*) app/dist/img/$1 [L]
RewriteRule ^concordance(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^kwic(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^collocation(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^time_series(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^query?report=(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^navigate(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^aggregation(.*) dispatcher.py$1 [PT,QSA]
RewriteRule ^bibliography(.*) dispatcher.py$1 [PT,QSA]


<IfModule mod_brotli.c>
    AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css text/javascript application/javascript application/xhtml+xml
</IfModule>