<div id="time-series" style="height: {{ height }}px !important; width: {{ bodyWidth }}px;">
    <div id="top-division" style="width: {{ bodyWidth }}px;">
        <div id="top-number">{{ topNumber }}</div>
    </div>
    <div id="middle-division" style="width: {{ bodyWidth }}px;">
        <div id="middle-number">{{ middleNumber }}</div>
    </div>
    <div id="bottom-division" style="width: {{ bodyWidth }}px;">
        <div id="bottom-number">{{ bottomNumber }}</div>
    </div>
    <div id="side-text">{{ sideText }}</div>
    <a class='graph-bar' href="{{ bar.url }}" data-toggle='popover' data-content="{{bar.title}}" style="margin-left: {{ bar.marginLeft }}px; width: {{ bar.width }}px;" ng-mouseover="timeSeries.hoverChart($event)" ng-mouseleave="timeSeries.hoverChart($event)" ng-repeat="bar in barChart | filterTimeSeries">
        <span class="graph-years" style="margin-left: {{ bar.yearWidth }}px;">{{ ::bar.date }}</span>
    </a>
</div>
