<div id="collocation-container" class="container-fluid" ng-controller="collocationCtrl">    
    <div id="philologic_response" class="panel panel-default">
        <div id="initial_report">
            <div id="description">
                <button type="button" id="export-results" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#export-dialog">
                    Export results
                </button>
                <search-arguments></search-arguments>
            </div>
            <progress-bar progress="{{ percent }}" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{ duration: 400 }" ng-if="done === false"></progress-bar>
            <collocation-parameters></collocation-parameters>
            <div class="bg-danger" style="margin-top: 20px; width: 50%;" ng-if="config.debug">
                {{ ::error }}
            </div>
        </div>
        <div class="results_container">
            <div id='philologic_collocation' class="row">
                <div class="col-xs-12 col-sm-3 col-sm-push-9 col-md-4 col-md-push-8">
                    <collocation-cloud></collocation-cloud>
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-pull-3 col-md-8 col-md-pull-4">
                    <collocation-table></collocation-table>
                </div>
            </div>
        </div>
    </div>
</div>
