<div class="table-reponsive">
    <table class="table table-bordered" id="collocation_table">
		<tr>
			<th>Collocates within the same sentence</th>
		</tr>
        <tr>
            <td id="all-collocate-column">
                <span id="all-num-{{ ::$index}}" class="colloc-row" ng-repeat="result in sortedList">
                    <a id="all-word-{{ ::$index }}" class="colloc_link text-content-area" href="{{result.url}}">
                        {{ ::result.label }}
                    </a>
                    <span id="all-count-{{ ::$index }}">
                        &nbsp;({{ ::result.count }})
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>