<div id="collocation-container" ng-controller="collocationCtrl as collocation">    
    <div id="philo-view" class="panel panel-default" ng-if="collocation.authorized">
        <div id="initial_report">
            <div id="description">
                <button type="button" id="export-results" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#export-dialog">
                    Export results
                </button>
                <search-arguments></search-arguments>
            </div>
            <progress-bar progress="{{ collocation.percent }}" class="velocity-opposites-transition-slideDownIn" data-velocity-opts="{ duration: 400 }" ng-if="collocation.done === false"></progress-bar>
            <collocation-parameters></collocation-parameters>
            <div class="bg-danger" style="margin-top: 20px; width: 50%;" ng-if="!config.production">
                {{ ::error }}
            </div>
        </div>
        <div class="results_container">
            <div id='philologic_collocation' class="row" loading="collocation.loading">
                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6">
                    <collocation-cloud></collocation-cloud>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
                    <collocation-table></collocation-table>
                </div>
            </div>
        </div>
    </div>
    <access-control ng-if="!collocation.authorized"></access-control>
</div>
