.highlight {
            color: #DB7077;
        }
.highlight-background {
    -webkit-transition : background-color .3s linear, color .3s linear;
    -moz-transition    : background-color .3s linear, color .3s linear;
    -ms-transition     : background-color .3s linear, color .3s linear;
    -o-transition      : background-color .3s linear, color .3s linear;
    transition         : background-color .3s linear, color .3s linear;
}
.ui-li-static {
    overflow: visible !important;
    text-overflow: inherit !important;
    white-space: normal !important;
    text-align: justify !important;
}
.ui-content {
    padding: .5em !important;
}
.ui-btn {
    font-size: .8em !important;
}
.ui-li-divider {
    padding: .5em !important;
}
.slide.out,.slide.in {
    -webkit-animation-timing-function:ease-out;
    -webkit-animation-duration:200ms;
}
body {
    font-family: 'Roboto', sans-serif !important;
}
#concordance, #navigation, #frequency {
    font-weight: 300 !important;
    font-size: .8em !important;
}
h4 {
    margin: .5em;
}
legend {
    font-size: .8em !important;
}
#concordance .philologic_cite {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: .8em !important;
}
@media ( min-width: 20em ) {
    /* Show the table header rows and set all cells to display: table-cell */
        .my-custom-breakpoint td,
        .my-custom-breakpoint th,
        .my-custom-breakpoint tbody th,
        .my-custom-breakpoint tbody td,
        .my-custom-breakpoint thead td,
        .my-custom-breakpoint thead th {
          display: table-cell;
          margin: 0;
    }
    /* Hide the labels in each cell */
        .my-custom-breakpoint td .ui-table-cell-label,
        .my-custom-breakpoint th .ui-table-cell-label {
          display: none;
    }
}
s {
    text-decoration: none;
}
#frequency_options {
    -webkit-transition: all .3s;
    transition:  all .3s;
}