<div id="wordProperty" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wordPropertyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="wordObjectDetail">Word Properties for <b>{{wordProperties.token}}</b></h4>
            </div>
			<a href="{{ wordProperties.problem_report }}" class="btn btn-default btn-xs pull-right" role="button" style="border-width: 0px 0px 1px 1px !important; margin-right: 2px;color: inherit; position: absolute; z-index: 100;right: 0;">
				 Report a problem
			</a>
            <div class="modal-body">
				<h5>Lookup {{ wordProperties.lemma }} in <a href="{{wordProperties.dictionary_lookup}}" target="_blank"><b>{{wordProperties.dictionary_name}}</b></a></h5>
				<div class="panel panel-default">
					<ol style="margin-bottom: 0px">
						<li ng-repeat="wordProperty in wordProperties.properties" ng-if='wordProperty.value.length'>
							<div class="row" style="padding: 10px">
								<div class="col-xs-6">
									{{ wordProperty.property }}
								</div>
								<div class="col-xs-6">
									{{ wordProperty.value }}
								</div>
							</div>
						</li>
					</ol>
				</div>
				<div ng-if="wordProperties.alt_parses.length" style="margin-top: 30px;">
					<h4 style="padding-bottom: 10px;">
						Listing all possible parses for the following lemmas:
						<span ng-repeat="altParse in wordProperties.alt_parses">
							{{ altParse.lemma }}
						</span>
					</h4>
					<div ng-repeat="altParse in wordProperties.alt_parses">
						<h5>Lookup {{ altParse.lemma }} in <a href="{{altParse.dictionary_lookup}}" target="_blank"><b>{{wordProperties.dictionary_name}}</b></a></h5>
						<div class="panel panel-default">
							<ol style="margin-bottom: 0px">
								<li ng-repeat="wordProperty in altParse.parse">
									<div class="row" style="padding: 3px 10px">
										<div class="col-xs-6">
										Parse
										</div>
										<div class="col-xs-6">
											{{ wordProperty }}
										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
