<div id="wordProperty" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wordPropertyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="wordObjectDetail">Word Properties for <b>{{wordProperties.token}}</b></h4>
            </div>
            <div class="modal-body">
				<h5>Lookup definition in <a href="{{wordProperties.dictionary_lookup}}" target="_blank"><b>{{wordProperties.dictionary_name}}</b></a></h5>
				<div class="panel panel-default">
					<ol style="margin-bottom: 0px">
						<li ng-repeat="(property, value) in wordProperties" ng-if="!property.startsWith('dictionary')">
							<div class="row" style="padding: 10px">
								<div class="col-xs-6">
									{{property}}
								</div>
								<div class="col-xs-6">
									{{value}}
								</div>
							</div>
						</li>
					</ol>
				</div>
            </div>
        </div>
    </div>
</div>
