
/* Font color for body */
body {
	color: rgb(61, 61, 61);
}

/* Navbar colors */
.navbar-inverse {
    background:rgb(255, 219, 157) !important;
}
.panel-default > .panel-heading {
    background: rgb(255, 219, 157);
}
.navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse a:hover {
    color: rgba(143, 57, 49, .6) !important;
}
.navbar {
    box-shadow: 0px .2em 8px .01em rgba(0,0,0,0.2);
}
.navbar-brand, .navbar-inverse a {
    color: rgb(143, 57, 49) !important;
    margin-right: 5px;
}
#header .navbar {
    border: 0.2em solid rgb(255, 219, 157);
}
.navbar-brand {
    font-weight: 700;
}
#header .navbar {
    border-bottom: 0px !important;
}

/* Button colors */
.btn-primary {
    background: rgba(143, 57, 49, .8);
    transition: background-color 200ms;
	border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus {
    background: rgb(143, 57, 49) !important;
	border-color: transparent;
	outline: 0;
}
.btn-primary.active, .open>.dropdown-toggle.btn-primary, #collocation_table th {
    background: rgb(143, 57, 49);
	border-color: transparent;
	color: #fff;
}
.btn-primary[disabled] {
	background-color: rgba(143, 57, 49, .5);
	border-color: transparent;
}
.panel-default>.panel-heading {
    color: rgb(143, 57, 49);
}
.btn-danger {
    background: rgb(143, 57, 49);
    border-color: transparent;
}

/* Links */
a {
    color: rgb(143, 57, 49);
	font-weight: 400;
	transition: all 200ms;
}
a:hover {
    color: rgb(128,0,0) !important;
	text-decoration: none;
}

#dico-landing-volume li, #dico-landing-alpha td {
	color: rgb(143, 57, 49);
	transition: all 0ms;
}
#dico-landing-volume li:hover, #dico-landing-alpha td:hover {
	background: rgb(143, 57, 49) !important;
	border-color: transparent !important;
	color: #fff !important;
	transition: all 100ms;
}

/*Metadata criteria in results*/
.biblio-criteria {
    color: #fff;
    background: rgb(143,57,49);
    border: solid 1px rgb(109,50,39);
}

/*Concordance Kwic styling*/
.more_context, .citation-container {
    border-color: #eee !important;
}

/*Search form*/
#form_body {
    box-shadow: 0px .2em 8px .01em rgba(0,0,0,0.2);
    background: #fff;
}
#search_elements {
    border-top-color: #eee;
}
#more_options:hover {
    background-color: #eee;
}
#nav-buttons.ui-scrollfix {
    background: rgba(143, 57, 49, .7);
}

/*Text object navigation*/
#toc-container {
    background: rgba(143, 57, 49, .8);
}
a.current-obj, #toc-container a:hover {
    background: rgba(256, 256, 256, .9);
    color: rgb(143, 57, 49) !important;
}
.bullet-point-div1 {
    background: #fff;
}
.bullet-point-div1, .bullet-point-div2, .bullet-point-div3 {
    border-color: #fff;
}

/*TOC report styling*/
.toc-div1 > a:hover, .toc-div2 > a:hover, .toc-div3 > a:hover {
    text-decoration: none;
    background: rgb(143, 57, 49);
    color: rgb(256, 256, 256) !important;
}
#toc-report .bullet-point-div1 {
    border: solid 1px #000;
    background: #000;
}
#toc-report .bullet-point-div2 {
    border: solid 2px #000;
    background: #fff;
}
#toc-report .bullet-point-div3 {
    border: solid 1px #000;
    background: #fff;
}

/*Time series*/
.progress-bar {
	background-color: rgb(143, 57, 49);
}

.full_biblio.show {
	background: rgba(143, 57, 49, .9);
	color: #fff;
}

.ui-menu-item .highlight {
	color: rgb(174, 89, 80);
}


/* Spinner colors */
#waiting, #waiting-inner, #waiting-inner-inner {
	border-color: rgba(174, 89, 80, .5) rgba(143, 57, 49, .7) rgba(174, 89, 80, .5) rgba(174, 89, 80, .5);
}

.filter-list {
	color: rgb(109, 50, 39);
	font-weight: 400;
}

/* Result nunber box */
.result-number {
	background-color: rgb(255, 219, 157) !important;
    color: rgb(143, 57, 49) !important;
}
