// Theme colors
$header-color: rgb(103, 10, 10);
$button-color: rgb(103, 10, 10);
$button-color-active: rgb(256, 256, 256);
$link-color: rgb(103, 10, 10);


// Themed elements
nav.navbar {
    background-color: #fff !important;
}
$secondary: $button-color;
.btn-secondary.active {
    background-color: $button-color-active !important;
    color: $link-color !important;
    border-color: $button-color !important;
}
.btn-outline-secondary.active {
    color: #fff !important;
}
$info: $button-color;
.btn-light.active {
    background-color: #eee !important;
}
a { color: $link-color !important}
a.btn-secondary {
    color: #fff !important;
}
.number,
.card-header {
    background-color: $header-color !important; 
    color: #fff !important;
}
.input-group-text, .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:focus ~ .custom-control-label::before  {
    color: $link-color !important;
    background-color: #fff !important;
    border-color: $link-color !important;
}
.metadata-args, .remove-metadata, .term-groups, .close-pill {
    border-color: $link-color !important;
}
.metadata-label, .remove-metadata:hover, .term-group-word:hover, .close-pill:hover {
    background-color: $button-color !important;
    color: #fff !important;
}
.custom-control-label::after {
    background-color: $button-color !important;
}
.letter {
    color: $link-color !important;
}
.letter:hover {
    background-color: $button-color !important; 
    color: #fff !important;
}
#report-error {
    color: #fff !important;
}
.custom-select:focus, .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:focus ~ .custom-control-label::before, input[type="text"]:focus {
    box-shadow: 0 0 0 0.05rem $button-color !important;
    border-color: $button-color !important;
    opacity: .5
}
:export {
    color: $link-color
}
