#kwic_concordance {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 13px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #CCCCCC;
    padding-top:7px;
    padding-bottom:8px;
    margin-right: 20px;
}
.kwic_line {
    padding-top: 1px;
    padding-bottom: 1px;
}
.kwic_biblio {
    font-weight:400 !important;
}
#philologic_concordance, #colloc_concordance {
    list-style-type: none;
    overflow: hidden;
}
.philologic_occurrence {
    padding-top: 7px;
    padding-bottom : 2px;
    margin: 8px 1px 6px 1px;
    box-shadow: 0px 0px 3px #A8A8A8;
    background-color: white;
    left: 0;
    position: relative;
}
.philologic_context {
    text-align: justify;
    padding-right: 4px;
    padding-left: 4px;
    padding-top:4px;
}
.hit_n {
    vertical-align: 5px;    /*align numbers*/
}
.more_context_and_close {
    font-weight: 300 !important;
    float: right;
    margin-top: -.45em;
    margin-right: -1px;
}
.more_context {
    margin-right: -4px;
    z-index: 2;
}

/*Citations*/
.section_name, .sub_section_name {
    font-weight: 400 !important;
}
.cite_separation {
    color: darkgray;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 1px;
    padding-right: 1px;
    font-weight: 300 !important;
    border-left: solid 1px darkgray;
    border-right: solid 1px darkgray;
}
.citation {
    padding-top: 5px;
    margin-top: -7px;
    height: 21px;
    padding-left: 4px;
}
.cite_gradient {
    background-color: #FAFAFA; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #FAFAFA, white); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #FAFAFA, white); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #FAFAFA, white); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #FAFAFA, white); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, #F8F8F8, #FAFAFA 70%, white); /* Standard syntax; must be last */
}


.collocate {
    color:#1E90FF;
    font-weight:400;
}



/*All the sidebar classes*/
#sidebar_area {
    float: right;
    margin-top: -14px;
}
#sidebar_button {
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 14px;
}
#hide_sidebar {
    font-family: 'Droid Sans Mono', sans-serif !important;
    font-size: 90% !important;
    display: none;
    border-bottom: 0px;
    margin-right: 0;
}
#sidebar_display {
    margin-top: 38px;
    width: 400px;
}
#sidebar_display #freq_sidebar_status {
	margin: 0em 0em 0.5em 0em;
}
#frequency_container {
    box-shadow: 0px 0px 3px #A8A8A8;
    margin: 52px 1px 0px 1px;
    background-color: #FAFAFA;
    overflow-y: scroll;
    display: none;
}
#frequency_table {
    padding: 5px 5px 5px 5px;
    line-height: 230%;
}
#freq_sidebar_text {
    display: inline-block !important;
    max-width: 320px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#frequency_field {
    display: none;
    position: absolute;
    max-width: 400px;
    right: 0;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 3px #A8A8A8;
    z-index: 1000;
    margin-right: 31px;
    line-height: 130%;
    color: #555;
    top: 243px;
}
.sidebar_option {
    padding-left: 1em;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: solid 1px #ECECEC;
}
.sidebar_option:hover {
    cursor: pointer;
    background-color: #EBEBEB;
    color: black;
}