#form_body {
    margin-top: -20px;
	position: absolute;
	background: #fff;
	left: 30px;
	right: 30px;
    z-index: 90;
	box-shadow: 0px .2em 8px .01em rgba(0,0,0,0.2);
    color: #555 !important;
}
#initial-form {
	padding-bottom: 15px;
}
#search_elements {
    padding-left: 20px;
	padding-bottom: 10px;
    border-top: solid 1px #ECECEC;
    overflow: hidden;
    display: none;
}
.search_box {
    width: 250px;
    vertical-align: middle;
}
#search_field {
    font-weight: 400;
}
#more_options {
    width: 200px;
}
#more_options:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}
#search_terms_container {
    margin-top: 15px;
}
#search_terms {
    text-align: center;
}
#search_explain {
    float: right;
    margin-top: -5px;
    margin-right: 10px;
}
#search_explain .ui-button-text {
    padding: 0.4em;
    font-weight: 700;
}
#explain_concordance, #explain_relevance, #explain_collocation, #explain_time_series, #explain_kwic {
    display: none;
	font-weight: 300;
}

#syntax_title {
    font-size: 90%;
}
#syntax_title:hover {
    text-decoration: underline;
}
#syntax_explain {
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: solid 1px #CCC;
    line-height: 170%;
    box-shadow: 5px 9px 15px -5px #888;
    color: black;
	text-align: justify;
	overflow-y: auto;
	height: 500px;
}
#bottom_search {
    display: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    right: 0;
    margin-right: 25px;
}
#search_overlay {
    opacity : 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightGrey;
    width: 100%;
    height: 0px;
    z-index: 90;
}
#metadata_fields {
	margin-top: 10px;
}
#metadata_fields .row, #time_series_num.row, #date_range.row, #results_per_page.row {
	padding-top: 10px;
	padding-bottom: 10px;
}
#initial-form .btn-primary.active {
	box-shadow: 0px 0px;
	border-top: 0px;
}
#tip-text {
	display: none;
}
#tip-btn:hover #tip-text {
	display: inline;
}
#tip-btn:hover #tip {
	display: none;
}

/*Responsiveness*/
@media (min-width: 1201px) {
	#form_body {
		left: 100px;
		right: 100px;
	}
}
@media (max-width: 1200px) {
	#form_body {
		left: 70px;
		right: 70px;
	}
}
@media (max-width: 992px) {
	#search-buttons {
		padding-top: 15px;
	}
	#search_terms > div:nth-of-type(2) {
		padding-right: 20px;
		padding-left: 20px;
	}
	#form_body {
		left: 40px;
		right: 40px;
	}
	#philologic_response {
		margin-top: 130px;
	}
}
@media (max-width: 768px) {
	#right-act-on-report .btn-group {
		float:left !important;
	}
	#search_elements {
		padding-right: 20px;
	}
	#philologic_response {
		margin-top: 160px;
	}
}