#form_body {
    margin-left: -420px;
    margin-top: -20px;
    left: 50%;
    width: 840px;
    position: absolute;
    display: none;
    z-index: 90;
    background-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ECECEC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ECECEC;
    box-shadow: 0px 9px 15px -5px #C8C8C8;
    color: #555 !important;
}
#search_elements {
    margin-top: 10px;
    padding-left: 30px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #ECECEC;
    float:left;
}
.search_box {
    width: 250px;
    vertical-align: middle;
}
#report {
    width: auto;
    max-width: 960px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0px;
}
#search_field {
    font-weight: 400;
}
#more_options {
    width: 200px;
}
#more_options:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}
#search_terms_container {
    margin-top: 15px;
}
#search_terms {
    text-align: center;
}
#search_explain {
    margin-left: 420px;
	width: 399px;
	margin-top: 10px;
	padding-top:10px;
	padding-left: 10px;
	text-align: justify;
    font-family: inherit !important;
	padding-right: 10px;
	border-top: solid;
    border-top-width: 1px;
    border-top-color: #ECECEC;
	position: absolute;
}
#explain_conc, #explain_relev, #explain_colloc, #explain_time, #explain_kwic {
    display: none;
    margin-left: 65px;
    margin-right: 15px;
}
#concordance_question, #kwic_question, #relev_question, #colloc_question, #time_question {
    margin-left: 65px;
    margin-right: 15px;
}

#syntax_title {
    font-size: 90%;
}
#syntax_title:hover {
    text-decoration: underline;
}
#syntax_explain {
    padding: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    line-height: 170%;
    box-shadow: 5px 9px 15px -5px #888888;
    color: black;
	text-align: justify;
	overflow-y: auto;
	height: 500px;
}
#bottom_search {
    display: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    right: 0;
    margin-right: 25px;
}