/* Get the footer to stick at the bottom */
s {
  text-decoration: none;
}
#container {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#wrapper {
    padding-bottom: 211px;
}
#footer {
    bottom: 0 !important;
    bottom: -1px;
    position: absolute;
    width: 100%;
}
html, body {
    margin:0;
    padding: 0;
    height:100%;
}

/* The following is for the header and footer */
#header {
  background: url(images/header_pattern.png);
  height: 95px;
  border-bottom: 1px #ECECEC solid;
}
#footer {
    background-image: url(images/footer_pattern.png);
    height: 210px;
    border-top: 1px #ECECEC solid;
}

.secondary-links {
    margin:0;
    padding:0;
    float:right;
    height: 10px;
}
.secondary-links li {
    display: inline;
    font-size: 70%;
}
#header .region-content, #footer .region-content {
  min-width: 725px;
  max-width: 1165px;
  padding-left:30px;
}
.site-name {
    overflow: hidden;
    white-space: nowrap;
}
#header h1 {
  font-size: 2.5em;
  color: #800000;
}
#header h1 span {
 line-height: 100px;
}
#header h1 a:link, #header h1 a:visited, #header h1 a:hover {
 color: #800000;
}
#header h1 a:hover, #header h1 a:active {
 text-decoration: none; color: #999999;
}
#header h1 .site-slogan {
 font-size: .4em;
 font-style: italic;
}
#footer ul.primary-links li a, #footer ul.primary-links li a:link
, #footer ul.primary-links li a:visited {
  color: #800000;
}

#footer ul.primary-links li {
  border-left: 1px solid #800000;
  padding: 0 .5em 0 .75em;
}

#footer ul.primary-links li.first {
  border: 0;
  padding-left: 0;
}
#footer {
  color: #eee;
}
#footer h2, #footer h3, #footer h4 {
  color: #eee;
}
#footer #footer-message {
    color: #800000;
    font-size: .9em;
    margin: 0 0 0 2em;
    float: right;
}
#footer .block {
    clear: both;
    margin-bottom: 1.3em;
}
#footer .bottom-border {
    min-height: 20px;
    padding: 22px 2em;
}
#footer .primary-links {
  float: left;
}


/* Links */
a:link, a:visited {
  color: #800000;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  color: #800000;
  text-decoration: underline;
}
a.active, a:link.active, a:visited.active, a:hover.active {
  color: #800000;
  font-weight: 700;
}

/* Fonts */
body {
  font-family: 'Averia Serif Libre', cursive;
}

.main_body{
    font-weight:300;
    font-size: 14px;
    line-height: 130%;
}

table {
  font-size:inherit;
  font:100%;
  font-weight: inherit;
}

.site-name {
    font-weight: 400 !important;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Gill sans", "Trebuchet MS", Helvetica, Tahoma, sans-serif;
  color: #555;
  line-height: 1.2em;
}

ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


div.main_body {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left:30px;
    margin-right: 30px;
}

/* The following is PhiloLogic specific CSS to handle TEI encoding */
/*span.emph {font-weight: bolder; }*/
/*span.emphsc {FONT-SIZE: 12px;}*/
/*span.hi   {font-weight: bolder;}*/
/*span.foreign {font-style: italic;}*/
/*span.bibl {font-style: italic;}*/
/*span.title     {font-style: italic;}*/
/*span.hiitalic  {font-style: italic;}*/
/*span.hiunderline {text-decoration: underline;}*/
/*span.hibold   {font-weight: bolder;}*/
/*span.doctitle {display: block; text-align: center; FONT-SIZE: 24px; LINE-HEIGHT: 1.5;}*/
/*span.byline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.pubplace {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.docedition {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.publisher {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.docimprint {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.addrline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}*/
/*span.docauthor {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}*/
/*span.docdate {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}*/
/*span.opener   {display: block; text-align: center;}*/
/*span.label   {display: block; text-align: center;}*/
/*span.signed   {display: block; text-align: right;}*/
/*span.stage    {display: block; text-align: right; font-style: italic; margin-left: 120px;}*/
/*span.speaker  {display: block; text-align: center; FONT-SIZE: 16px;}*/
/*span.epigraph {display: block; margin-left: 300px;}*/
/*span.salute   {display: block; text-align: center;}*/
/*span.trailer  {display: block; text-align: center;}*/
/*span.closer   {display: block; text-align: center;}*/
/*span.item     {display: block; text-align: left;}*/
/*span.role     {display: block; text-align: left; margin-left: 100px; margin-right: 100px}*/
/*span.argument {display: block; text-align: left; margin-left: 100px; margin-right: 100px}*/
/*span.roledesc {display: block; text-align: right; margin-right: 100px}*/
/*span.l        {display: block; text-align: left;}*/
/*span.small   {FONT-SIZE: 11px;}*/
/*span.smallcaps {font-variant: small-caps;}*/
/*span.hismallcap {FONT-SIZE: 12px;}*/
/*span.head    {FONT-SIZE: 18px; LINE-HEIGHT: 1.5;}*/
/*span.notetarget {FONT-SIZE: 12px; text-decoration: underline; vertical-align: super;}*/
/*span.footnote {display: block; FONT-SIZE: 12px; margin-left: 60px; margin-right: 40px;}*/
/*span.marginnote {display: block; FONT-SIZE: 12px; text-align: right;}*/
/*span.inlinenote {display: block; FONT-SIZE: 12px;}*/
/*span.generalnote {display: block; FONT-SIZE: 12px;}*/
/*span.endnote {display: block; FONT-SIZE: 12px;}*/
/*span.refalignright {display: block; text-align: right;}*/
/*span.mstoneid {display: block; FONT-SIZE: 12px; text-align: right;}*/
/*span.mstonen {display: block; FONT-SIZE: 12px; text-align: right;}*/
/*span.mstonetype {display: block; text-align: center;}*/
/*span.mwright {display: block; FONT-SIZE: 12px; text-align: right;}*/
/*span.authfreqindt {display: block; text-align: left; margin-left: 60px;}*/
/*span.perfreqindt {display: block; text-align: left; margin-left: 45px;}*/
/*span.navhead {display: block; text-align: center; font-size: 16px; font-weight: bold;}*/
/*span.navbiblio {display: block; font-size: 14px;}*/
/*span.navlevel1 {display: block; text-align: left; font-size: 14px;}*/
/*span.navlevel2 {display: block; text-align: left; margin-left: 40px; FONT-SIZE: 14px;}*/
/*span.navlevel3 {display: block; text-align: left; margin-left: 60px; FONT-SIZE: 12px;}*/
/*span.projecthead { text-align: right; font-size: 20px; color: #000000;}*/


/* For pop-in notes */
.hiddennote {
        display: none;
        margin: 5px;
        border: 1px solid #242e55;
        background-color: #dde3ef;
        padding: 2px;
}

/* New Philo4 styles */


/*Results formatting*/
.initial_report {
    border-style:solid;
    border-width:1px;
    border-color: #CCCCCC;
    border-left:0px;
    border-right:0px;
    border-top:0px;
}
.kwic_concordance {
        font-family: 'Droid Sans Mono', sans-serif;
        font-size: 13px;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color: #CCCCCC;
        padding-top:7px;
        padding-bottom:8px;
        margin-right: 20px;
}
.kwic_line {
    padding-top: 1px;
    padding-bottom: 1px;
}
.kwic_biblio {
    font-weight:400 !important;
}
.philologic_concordance {
        list-style-type: none;
}
.philologic_occurrence {
        padding-top: 7px;
        padding-bottom : 8px;
        border-style:solid;
        border-width:1px;
        border-color: #CCCCCC;
        border-left:0px;
        border-right:0px;
        border-top:0px;
        overflow: hidden;
}
.philologic_collocation {
    padding-right: 50px;
}
.more_context {
    padding-left: 24px;
    color: Gray !important;
    font-weight: 300 !important;
}
.collocate {
    color:#1E90FF;
    font-weight:400;
}


/*Tables*/
.table_row {
    height: 50px !important;
}
.first_column {
    width: 175px;
}
.second_column {
    width: 210px;
}
.philologic_table {
    border-collapse:collapse;
    width:960px;
}
.table_header {
    background-color: #ECECEC;
    border-style:solid;
    border-width:1px;
    border-color: LightGray;
}
.table_column {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    border-style:solid;
    border-width:1px;
    border-color: LightGray;
}
.frequency_table {
        padding-top: 10px;
}


/*All the sidebar classes*/
a.hide_frequency {
    font-family: 'Droid Sans Mono', sans-serif !important;
    float: right;
    padding-left: 20px;
    color: Gray;
}
a.hide_frequency:hover {
        text-decoration: none;
        color: Black;
}
.sidebar_display {
        float: right;
        padding-left: 10px;
        max-width: 300px;
}
.sidebar_display .freq_sidebar_status{
	margin: 0em 0em 0.5em 0em;
}


/*Search form*/
.form_body {
    padding-top: 10px;
    width: auto;
    display: none;
}
.search_elements {
    margin-top: 20px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #ECECEC;
    width: inherit;
}
.search_box {
    width: 200px;
}
.show_search_form {
    font-size: 100%;
    color: #800000;
    font-weight: 600;
    padding-bottom: 20px;
    width: inherit;
    text-decoration: none !important;
}
.report {
    width: auto;
    max-width: 960px;
}
.form_separation {
    margin-top: 20px;
    width: inherit;
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #ECECEC;
}

/*Document viewing styles*/
.title {
    font-size: 140%;
    padding-bottom: 20px;
}
.table_of_contents {
    display: inline-block;
    max-width: 250px;
    padding-top: 40px;
    display:none;
}
.page_turner, .page_number, obj_nav {
    text-align: center;
    font-size: 150%;
}


/*Navigating pages in documents*/
.doc_pages {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.prev_next {
    font-size: 200%;
    font: inherit;
    color: #D8D8D8  !important;
}
.prev_next:hover {
    text-decoration: none !important;
    color: #A8A8A8 !important;
}


/*jQueryUI styling*/
.ui-button,  .ui-button-text .ui-button {  
    font-size: inherit !important;
    font-family: inherit !important;
}

ul.ui-autocomplete.ui-menu {  
    font-size: inherit !important;
    font-family: inherit !important;
}
.ui-tooltip {
    font-size: 12px !important;
    font-family: inherit !important;
}


/*Pages links*/
.more {
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    width:8%;
    padding-top: 10px;
}
.more .previous {
    float:left;
}
.more .next {
    float: right;
}


/*Random stuff to be organized*/
.bibliographic_results {
        list-style-type: none;
}
.description {
    font-size: 140%;
}
.highlight {
        color: #EF4500;
        font-weight: 400;
}

.separation {
        width:40%;
        text-align:left;
        margin-left:20px;
        color: #000000;
        background-color: #000000;
        height: 1px;
}
.bibliography {
        padding-bottom: 10px;
}
.loading {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.current_page {
    font-size: 170%;
}



label.custom-select {
    position: relative;
    display: inline-block;
}

/* Ugly looking workaround while waiting for next release of jQueryUI with selectmenu*/
.custom-select select {
    display: inline-block;
    padding: 2px 1px 1px 3px;
    margin: 0;
    font: inherit !important;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.8;
    background: #efefee;
    color:#555555;
    border:solid;
    border-width: 1px;
    border-color: #cccccc;
    height: 28px;
}
.custom-select:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #efefee;
    color: #555555;
    pointer-events: none;
}