/* Get the footer to stick at the bottom */
* {
    margin: 0;
}
#wrapper {
    min-height: 100%;
    height: 100%;
    height: auto !important;
    position:relative;
    margin: 0 auto -50px;
}
#push {
    height: 80px;
}
#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
#footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
html, body {
    height:100%;
}
body {
    font-family: 'Averia Serif Libre', cursive;
}
#header, #footer {
    z-index: 1000;
}
#header .navbar {
    border: 0px;
    border-bottom: 0.01em solid black;
}

/* Fonts */
.main_body{
    font-weight:300;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 20px;
}
table {
  font-size:inherit;
  font-weight: inherit;
}
ol {
    list-style-type: none;
    padding: 0px;
}
.small-caps {
    font-variant:small-caps;
}
#philologic_response {
    margin-top: 80px;
}

/*jQueryUI styling*/
.ui-button,  .ui-button-text, .ui-button, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-widget, ul.ui-autocomplete.ui-menu {  
    font-size: inherit !important;
    font-family: inherit !important;
}
.ui-tooltip {
    font-size: 12px !important;
    font-family: inherit !important;
}
.ui-progressbar {
    height: 1em;
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: -4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.ui-progressbar-value {
    font-size: 70% !important;
    text-align: center;
}
.ui-autocomplete {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-tr {*/
    border-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.ui-menu-item {
    font-size: .9em !important;
    padding: .6em .5em .5em .9em !important;
}




/* Collocation classes */
.collocation_counts {
    padding: 5px 10px 10px 10px;
    display:none;
    text-align: justify;
    line-height: 200%;
}
.colloc_link {
    color: #990000;
    cursor: pointer;
}
.cloud_term {
    -webkit-transition: 200ms linear;
    -ms-transition: 200ms linear;
    -moz-transition: 200ms linear;
    transition: 200ms linear;
}
.cloud_term:hover {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}
.table td, .table th {
    text-align: center;
}

/*Pages links*/
.more {
    font-size: 130%;
    text-align: center;
}
.more .previous {
    float:left;
}
.more .next {
    float: right;
}

/*Random stuff to be organized*/
#bibliographic_results {
    list-style-type: none;
    border-top: solid 1px #ECECEC;
}
#description {
    font-size: 1.1em;
    padding-top: 15px;
    margin-bottom: 10px;
}
#search_arguments {
    margin-bottom: 10px;
}
.highlight {
    color: #EF4500;
    font-weight: 400;
}
.separation {
        width:40%;
        text-align:left;
        margin-left:20px;
        color: #000;
        background-color: #000;
        height: 1px;
}
.bibliography {
        padding-bottom: 10px;
}
#current_results_page {
    background: white !important;
}
#results-bibliography {
    margin-top: 25px;
    margin-bottom: 35px;
}
#show-results-bibliography {
    font-size: 1.3em;
}
#results-bibliography li {
    box-shadow: 0px 0px 3px #A8A8A8;
    padding: 5px;
    margin-top: 8px;
    line-height: 200%;
}


/* hack for inserted page links at top of object */
b p.inserted-page {
  display:inline;
}
s {
    text-decoration: none;
}

.dot {
    display: inline-block;
    background: black;
    width: 8px;
    height: 8px;
    border-radius:50%;
    margin-right: 5px;
}



#return_to_colloc {
    color: #800000;
    text-decoration: none;
    font-weight: 700 !important;
    font-size: 140%;
}
#return_to_colloc:hover {
    text-decoration: underline;
    cursor: pointer;
}
#time_series_report {
    margin-left: -50px;
}


#search_arguments {
    line-height: 150%;
}
.remove_metadata, #remove_metadata_date_start, #remove_metadata_date_end {
    display:inline-block !important;
    vertical-align: text-top;
}
.remove_metadata:hover, #remove_metadata_date_start:hover, #remove_metadata_date_end:hover {
    cursor: pointer;
}
/*Text formatting*/
l {
    display: block;
}
l::before {
    content:attr(n) "\0020\0020\0020";
    font-family: 'Droid Sans Mono', sans-serif;
    color: #bababa;
    font-size: .7em;
}
l[type="split"]::before {
    content: "";
}
w::before {
    margin:0;padding:0;float:left;
}
br {
    content: " ";
    display: block;
}

/*Bootstrap customization*/
#method .form-control, #metadata_fields .form-control {
    display: inline-block;
}
.text-row {
    margin-top: 7px;
}
#philologic_concordance .panel, .biblio-occurrence {
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
}
#bibliographic-results li {
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
}

/*THEME*/
.navbar-inverse, .panel-default > .panel-heading {
    background: #276B9B !important;
}
.navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, .panel-default > .panel-heading {
    color: #fff !important;
}
.btn, .panel {
    border-radius: 0px !important;
}
.btn-primary {
    background: #4180ab;
    transition: background-color 200ms;
}
.btn-primary:hover, .biblio-criteria {
    background: #649DC5;
}
.btn-primary.active {
    background: #276B9B;
}
.navbar-brand, .navbar-inverse a {
    color: #ECEDEE !important;
}
a {
    color: #276B9B;
}
a:hover {
    color: #4180ab !important;
}
a.sidebar-option:hover {
    cursor: pointer;
}
/*Metadata criteria in results*/
.biblio-criteria {
    padding: 2px;
    color: #fff;
    border: solid #276B9B 1px;
}
/*TOC styling*/
.toc-div1 > a:hover, .toc-div2 > a:hover, .toc-div3 > a:hover {
    text-decoration: none;
    background: #649DC5;
    color: #fff !important;
}


