#doc_title {
    font-size: 140%;
    padding-bottom: 20px;
}
#t_o_c_title {
    font-size: 140%;
    line-height: 120%;
    padding-bottom: 8px;
}
#object_title {
    font-size: 140%;
    line-height: 120%;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#toc_container {
    overflow-y: auto;
    margin-top: 20px;
    margin-left: -29px;
    padding: 10px;
    min-width: 200px;
    max-width: 600px;
    opacity: 0;
    position: absolute;
    z-index: 101;
    background: #FAFAFA !important;
    box-shadow: 0px 0px 15px #888;
    -webkit-transform: translate(-315px);
    -ms-transform: translate(-315px);
    -moz-transform: translate(-315px);
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}
#toc_container.show {
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -webkit-transform: translate(0px);
    opacity: 100;
}
#show_table_of_contents {
    margin-left: -25px;
    white-space: nowrap;
}
#table_of_contents {
    line-height: 180%;
    display:block;
}
.toc_link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_of_contents a {
    padding: 5px;
    -moz-transition: background 350ms ease;
    -webkit-transition: background 350ms ease;
    -ms-transition: background 350ms ease;
    transition: background 350ms ease;
}
#table_of_contents a:hover {
    background: #DADADA !important;
}
#page_number, obj_nav {
    text-align: center;
    margin-bottom: 10px;
}
#prev_obj {
    position: absolute;
    margin-top: 30px;
    left: 17%;
}
#prev_obj, #next_obj {
    font-weight: 700;
}
#next_and_read {
    margin-top: 30px;
    top: 0;
}
#prev_and_toc {
    margin-top: 30px;
    width: 100%;
}
#next_obj_wrapper {
    right: 17%;   
}
#next_obj_wrapper, #prev_obj_wrapper {
    position: absolute;
}
#book_page {
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: #FAFAFA !important;
    box-shadow: 0px 0px 15px #888;
    line-height: 140% !important;
    font-size: 1.1em;
    min-height: 650px;
    z-index: 100;
    text-align: justify;
}
@media (min-width: 1230px) {
    #book_page {
        width: 700px;
    }
}
@media (max-width: 1230px) and (min-width: 1130px) {
    #book_page {
        width: 600px;
    }
    #prev_obj {
        left: 18.5%;
    }
    #next_obj_wrapper {
        right: 18.5%;   
    }
}
@media (max-width: 1130px) and (min-width: 1040px) {
    #book_page {
        width: 530px;
    }
    #prev_obj {
        left: 19%;
    }
    #next_obj_wrapper {
        right: 19%;
    }
}
@media (max-width: 1040px) and (min-width: 910px) {
    #book_page {
        width: 460px;
    }
    #prev_obj {
        left: 19%;
    }
    #next_obj_wrapper {
        right: 19%;
    }
}
@media (max-width: 910px) {
    #book_page {
        width: 380px;
    }
    #prev_obj {
        left: 20.5%;
    }
    #next_obj_wrapper {
        right: 20.5%;
    }
}
#obj_text {
    vertical-align:middle;
}


/* Styling for theater */
castitem::after {
    content:"\A";
    white-space:pre;
}
castlist>castitem:first-of-type::before {
    content:"\A";
    white-space:pre;
}
castgroup::before {
    content:"\A";
    white-space:pre;
}
b.headword {
    font-weight: 700 !important;
    font-size: 130%;
}
b.headword::before {
    content:"\A";
    white-space:pre;
}
lb {
    display: block;
}
sp lb:first-of-type {
    content: "";
    white-space: normal;
}
sp {
    display: block;
}
sp::before {
    content:"\A";
    white-space:pre;
}
fw, join {
    display: none;
}
speaker+stage::before {
    content: "";
    white-space: normal;
}
stage {
    font-style: italic;
}
div1 div2::before {
    content:"\A";
    white-space:pre;
}
speaker {
    font-weight: 700;
}

#image_container {
    position: absolute;
    border: solid 18px #BFBFBF;
    z-index: 101;
    left: 25%;
    box-shadow: 0px 0px 15px #888888;
    margin-top: -10px;
}
.page_image_link {
    color: #800000;
    text-decoration: none;
    font-weight: 700 !important;
}
.page_image_link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.close_page_image {
    position: absolute;
    margin-top: -16px;
    z-index: 200;
    left: 100%;
}
.close_page_image:hover {
    cursor: pointer;
}