#object-title {
    font-size: 140%;
    line-height: 120%;
    margin: 20px 0px 20px 0px;
    text-align: center;
}
#page_number {
    text-align: center;
    margin-bottom: 10px;
}
#all-content {
    margin-top: 50px; 
}
#book-page {
    text-align: center;
}
#obj_text {
    vertical-align:middle;
}

/*TOC styling*/
#toc-wrapper {
    position: absolute;
    opacity: 0;
    z-index: 60;
}
#toc-wrapper.show {
    width: auto;
}
#toc-report-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#toc-container {
    background: rgba(39, 107, 155, .9);
    top: 32px !important;
}
#toc-container a {
    color: #fff;
}
a.current-obj {
    background: rgba(256, 256, 256, .9);
    color: rgb(39, 107, 155) !important;
}
#toc-content {
    display: inline-block;
    overflow: scroll;
    padding: 10px;
    line-height: 180%;
    text-align: justify;
    width: 100%;
}
#back-to-top {
    position: absolute;
    left: 15px;
    z-index: 5;
    display: none;
}
#nav-buttons {
    margin-left: -30px;
    margin-right: -30px;
    position: absolute;
    width: 100%;
    z-index: 80;
    transition: background 200ms;
}
#nav-buttons.fixed {
    position: fixed;
    top: 0;
    background: rgba(39, 107, 155, .9);
}
.toc-div1 > a, .toc-div2 > a, .toc-div3 > a {
    padding: 5px 5px 5px 0px;
}
.bullet-point-div1, .bullet-point-div2, .bullet-point-div3 {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    margin-right: 5px;
}
.bullet-point-div1 {
    border: solid 1px #fff;
    background: #fff;
}
.bullet-point-div2 {
    /*background: #fff;*/
    border: solid 2px #fff;
}
.bullet-point-div3 {
    /*background: #fff;*/
    border: solid 1px #fff;
}
.toc-div2 {
    text-indent: 1em;
}
.toc-div3 {
    text-indent: 2em;
}

/*TOC report styling*/
#toc-report .bullet-point-div1 {
    border: solid 1px #000;
    background: #000;
}
#toc-report .bullet-point-div2 {
    border: solid 2px #000;
    background: #fff;
}
#toc-report .bullet-point-div3 {
    border: solid 1px #000;
    background: #fff;
}


#prev-obj, #next-obj {
    font-weight: 700;
    font-size: 120%;
    padding: 1px 10px 2px;
}
#text-obj-content {
    display: inline-block;
    text-align: justify;
    padding: 20px;
    line-height: 140% !important;
}

/* Styling for theater */
castitem::after {
    content:"\A";
    white-space:pre;
}
castlist>castitem:first-of-type::before {
    content:"\A";
    white-space:pre;
}
castgroup::before {
    content:"\A";
    white-space:pre;
}
b.headword {
    font-weight: 700 !important;
    font-size: 130%;
}
b.headword::before {
    content:"\A";
    white-space:pre;
}
lb {
    display: block;
}
sp lb:first-of-type {
    content: "";
    white-space: normal;
}
sp {
    display: block;
}
sp::before {
    content:"\A";
    white-space:pre;
}
stage+sp:nth-of-type(n+2)::before {
    content: "";
}
fw, join {
    display: none;
}
speaker+stage::before {
    content: "";
    white-space: normal;
}
stage {
    font-style: italic;
}
stage::after {
    content:"\A";
    white-space:pre;
}
div1 div2::before {
    content:"\A";
    white-space:pre;
}
speaker {
    font-weight: 700;
}
pb {
    display: block;
    text-align: center;
    margin: 10px;
}
pb::before {
    content:"-" attr(n) "-";
    white-space:pre;
}

#image_container {
    position: absolute;
    border: solid 18px #BFBFBF;
    z-index: 101;
    left: 25%;
    box-shadow: 0px 0px 15px #888888;
    margin-top: -10px;
}
.page_image_link {
    color: #800000;
    text-decoration: none;
    font-weight: 700 !important;
}
.page_image_link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.close_page_image {
    position: absolute;
    margin-top: -16px;
    z-index: 200;
    left: 100%;
}
.close_page_image:hover {
    cursor: pointer;
}

@media (max-width: 992px) {
    #toc-wrapper {
        z-index: 60;
        /*width: auto;*/
    }
}